@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.singleTokenSupplyLiquidityOverlay {
  position: absolute;
  width: calc(100% + 48px);
  height: calc(100% + 48px);
  background-color: $bgPalette;
  opacity: 0.5;
  left: -24px;
  top: -24px;
  z-index: 20;
  border-radius: 20px;
}

.singleTokenSelectPoolWarning {
  width: 100%;
  height: 120px;
  border-radius: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $grey31;
}

.singleTokenPoolCard {
  padding: 24px 16px;
  background-color: $secondary1;
  margin-top: 12px;
  display: flex;
  align-items: center;
  border-radius: 12px;
  cursor: pointer;
  & small {
    margin: 0 8px;
  }
}

.singleTokenPoolCardUnSelected {
  opacity: 0.5;
}

.singleTokenPoolCardCheck {
  width: 16px;
  height: 16px;
  border-radius: 8px;
  border: 2px solid $textSecondary;
  margin-right: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  & svg {
    width: 12px;
    color: $primary;
  }
}

.singleTokenPoolCardSelected .singleTokenPoolCardCheck {
  border: 2px solid $primary;
}

.singleTokenPoolFee {
  background-color: $grey12;
  padding: 2px 6px;
  border-radius: 6px;
  font-size: 12px;
}

.singleTokenDepositButton {
  width: 100%;
  height: 48px;
  border-radius: 14px;
  &.Mui-disabled {
    background-color: $secondary1;
  }
}

.singleTokenInputWrapper {
  padding: 16px;
  background: $secondary1;
  border-radius: 16px;
  & input {
    flex: 1;
  }
}

.singleTokenInputMax {
  cursor: pointer;
  background-color: $grey4;
  height: 20px;
  padding: 0 4px;
  border-radius: 8px;
  font-size: 14px;
  font-weight: 500;
  color: $primary;
  display: flex;
  align-items: center;
}

.singleTokenInfoWrapper {
  padding: 16px;
  display: flex;
  border: 1px solid;
  border-radius: 16px;
  & svg {
    width: 16px;
  }
  & small {
    flex: 1;
    margin-left: 8px;
  }
}

.singleTokenHelp {
  background-color: $grey37;
  color: $textPrimary;
  & a {
    color: $textPrimary;
  }
}

.singleTokenWarning {
  background-color: $yellow8;
  color: $yellow9;
}
