@use 'styles/variables' as *;

.v3-stake-active-dot {
  width: 8px;
  height: 8px;
  border-radius: 4px;
}

.v3-farm-rewards {
  background-color: $blue1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  border-radius: 12px;
  & a {
    background-color: white;
    border-radius: 8px;
    padding: 8px;
  }
}

.v3-my-farms-position-card {
  background-color: $secondary1;
  margin-top: 16px;
  border-radius: 16px;
  padding: 12px;
  a {
    color: $primary;
    text-decoration: none;
  }
  button {
    height: 40px;
    border-radius: 12px;
  }
}
