@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.perpsTokenSelect {
  cursor: pointer;
  border-right: 1px solid $divider;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.perpsV2Container {
  display: flex;
  width: 100vw;
}

.graph_orderbook {
  display: flex;
  flex-direction: row;
}

.graph {
  flex: 60%;
  height: fit-content;
  border: 1px solid #61675a;
}

.orderbook {
  flex: 15%;
  height: fit-content;
  border: 1px solid #61675a;
}

.graph_footer {
  flex: 80%;
  display: flex;
  flex-direction: column;
}

.mobile-graph-navbar {
  display: none;
}

.other {
  flex: 10%;
  height: fit-content;
  border: 1px solid #61675a;
  height: 100%;
}

.perp_footer {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  color: white;
  border-bottom: 1px solid #61675a;
}

.kingFooter {
  display: flex;
  flex-direction: column;
  margin: 0px 5px;
}

.dropdown,
.portfolio_status {
  display: flex;
  flex-direction: row;
  font-size: 14px;
  font-weight: 500;
  color: #61675a;
  justify-content: flex-start;
  border-bottom: 1px solid #61675a;
  margin: 10px 5px;
}

.portfolio_status div {
  margin: 5px 10px;
}

.footer-left {
  display: flex;
  color: #61675a;
  font-family: Inter;
  font-weight: 500;
  font-size: 14px;
}

.footer-left div {
  margin-right: 10px;
}

.footer-right {
  margin-left: auto;
  color: #ccced9;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
}

.dropdown {
  border-bottom: 1px solid #61675a;
  padding-bottom: 5px;
}

.dropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 8px 16px;
  cursor: pointer;
}

.dropdown select::-ms-expand {
  display: none;
}

.dropdown select option {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.dropdown select:focus {
  outline: none;
}
.orders {
  display: flex;
  flex-direction: column;
}
.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #61675a;
}
.footer_data {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 2vh;
  color: #ccced9;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
}
.tab-header {
  display: flex;
  justify-content: space-between;
  padding: 7px 68px;
  color: #ccced9;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
  border-bottom: 1px solid #61675a;
  cursor: pointer;
}
.selected {
  border-bottom: 1px solid #fff;
  color: white;
}

.mobile_footer {
  display: none;
}

.orderbook-leverage-container {
  display: none;
}

@include media('screen', '<tablet') {
  .container {
    flex-direction: column;
    height: max-content;
  }
  .mobile-graph-navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
    padding: 10px 5px;
  }

  .desktop-graph-navbar {
    display: none;
  }
  .graph_orderbook {
    flex-direction: column;
  }

  .graph {
    flex: 100%;
    border: 1px solid #61675a;
  }

  .kingFooter {
    display: none;
  }

  .mobile_footer {
    display: flex;
    flex-direction: column;
    width: 100%;
    color: white;
    border-top: 1px solid #61675a;
    border-bottom: 1px solid #61675a;
  }

  .orderbook-leverage-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .other,
  .desktop_orderbook {
    display: none;
  }

  .orderbook {
    width: 45%;
  }
  .leverage {
    width: 55%;
  }
  .nav-data {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns */
    grid-gap: 5px; /* Adjust the gap between grid items */
  }

  .item {
    /* Add borders for visual separation */
    padding: 10px;
  }
}
