@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.perpsTokenSelect {
  cursor: pointer;
  border-right: 1px solid $divider;
  padding: 0 12px;
  height: 100%;
  display: flex;
  align-items: center;
}

.perpsTokenSearchTable {
  margin-top: 20px;
  width: 100%;
  & th,
  & td {
    padding: 4px 6px;
  }
  & tbody tr {
    cursor: pointer;
  }
}

.perpsV2Container {
  display: flex;
  width: 100vw;
}

.kingFooter {
  display: flex;
  flex-direction: column;
}

.portfolio_status {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  border-bottom: 1px solid $divider;
  padding: 16px 12px;
}

.perpsBottomDropdown select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: #ffffff;
  padding: 2px 16px;
  cursor: pointer;
  border-radius: 8px;
}

.dropdown select::-ms-expand {
  display: none;
}

.dropdown select option {
  background-color: rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.dropdown select:focus {
  outline: none;
}
.orders {
  display: flex;
  flex-direction: column;
}
.order {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #61675a;
}
.footer_data {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  height: 2vh;
  color: #ccced9;
  font-family: Inter;
  font-weight: 500;
  font-size: 12px;
}
.selected {
  border-bottom: 1px solid #fff;
  color: white;
}

.leverageManageButton {
  background-color: transparent;
  border: 1px solid $primary;
  color: $primary;
  height: 26px;
  border-radius: 6px;
  &:hover {
    background-color: transparent;
  }
  & span {
    font-size: 12px;
  }
}

.leverageGradient {
  width: 100%;
  height: 8px;
  border-radius: 8px;
  background-image: linear-gradient(to right, #24403a, #3f3c2f 48%, #402230);
}

.leverageTypesWrapper {
  display: flex;
  border-radius: 8px;
  overflow: hidden;
  & div {
    width: 50%;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
}

.leverageInputWrapper {
  height: 36px;
  background-color: $bgPalette;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding: 0 12px;
  & div {
    display: flex;
    flex: 1;
    & input {
      flex: 1;
      height: 100%;
      background-color: transparent;
      color: $textPrimary;
      appearance: none;
      text-align: right;
      border: none;
      outline: none;
      box-shadow: none;
    }
  }
}

.leverageSquareWrapper {
  display: flex;
  align-items: center;
  position: relative;
  height: 2px;
  background-color: $secondary1;
  & .leverageSquare {
    width: 11px;
    height: 11px;
    border: 2px solid $secondary1;
    transform: rotate(45deg);
    cursor: pointer;
    position: absolute;
    background-color: $bgColor;
    &.filledSquare {
      background-color: $textSecondary;
      border: 2px solid $textSecondary;
    }
  }
}

.leverageActiveWrapper {
  position: absolute;
  left: 0;
  height: 2px;
  background-color: $textSecondary;
  display: flex;
  align-items: center;
  & > div {
    background-color: white;
    border: 2px solid $textSecondary;
    width: 11px;
    height: 11px;
    position: absolute;
    left: calc(100% - 8px);
    transform: rotate(45deg);
  }
}

.leverageSubmitButton {
  width: 100%;
  height: 40px;
  border-radius: 8px;
  & span {
    font-size: 14px;
    font-weight: 500;
    text-transform: capitalize;
  }
}
