.table {
  font-size: 0.8rem;
  font-weight: 600;
}
.table > * {
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.table > *:nth-child(3n -1) {
  text-align: end;
}
.table > *:nth-child(3n) {
  text-align: end;
}
.table .ask {
  color: rgb(161, 6, 6);
}
.table .bid {
  color: rgb(4, 109, 4);
}
