REACT_APP_POLYGON_RPC_URLS=https://zkevm-rpc.com
REACT_APP_POLYGON_FALLBACK_PROVIDERS=https://zkevm-rpc.com
REACT_APP_POLYGON_WS=wss://zkevm-rpc.com
REACT_APP_STATS_API_URL=https://perps-analytics.quickswap.exchange
REACT_APP_EXPLORER_POLYGON_URL=https://zkevm.polygonscan.com/
REACT_APP_QPX_API_POLYGON_URL=https://perps-api.quickswap.exchange/
REACT_APP_QPX_CORE_SUBGRAPH=https://api.thegraph.com/subgraphs/name/quickperp/qperp-subgraph
REACT_APP_PRICE_SUBGRAPH=https://api.thegraph.com/subgraphs/name/quickperp/qperp-prices
REACT_APP_QPX_REFERRAL_SUBGRAPH=https://api.thegraph.com/subgraphs/name/quickperp/qperp-referral
REACT_APP_JSON_RPC_PROVIDER_URL_FOR_ADDRESS=https://rpc-mainnet.matic.network/
REACT_APP_GAS_API_URL=https://gasstation.polygon.technology/zkevm
REACT_APP_CLOUDINARY_CLOUD_NAME=quickperp
REACT_APP_GRAPH_V3_API_URL=https://api.studio.thegraph.com/query/44554/quickswap-v3-02/0.0.7
