@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.steer-liquidity-item-buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  & button {
    width: 49%;
    @include media('screen', '<phone') {
      width: 100%;
      &:not(:first-child) {
        margin-top: 12px;
      }
    }
  }
}

.steer-liquidity-item-button {
  height: 48px;
  border-radius: 16px;
}
