@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.v3PairPlusIcon {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid $textSecondary;
    color: $textSecondary;
}