@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.topTab {
  height: 46px;
  padding: 0 24px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  cursor: pointer;
  & p {
    color: $textDisabled,
  }
}

.selectedTab {
  background: $secondary2;
  & p {
    color: $textPrimary;
  }
}

.link {
  cursor: pointer;
  color: $textSecondary;
  &:hover {
    text-decoration: underline;
  }
}

.tokensFilter {
  cursor: pointer;
  display: flex;
  margin: 8px 16px 8px 0;
}

.panel {
  background: $grey3;
  border-radius: 20px;
  padding: 24px;
  @include media("screen", "<phone") {
    padding: 12px;
  }
}

.headingWrapper {
  display: flex;
  align-items: center;
  & h6 {
    color: $textDisabled;
  };
  & svg {
    height: 16px;
    margin-left: 2;
    color: $blue;
  }
}
