@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.migratev2PositionCardTop {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 16px;
  @include media('screen', '<phone') {
    padding: 16px 12px;
  }
}
.migratev2PositionCard {
  width: 100%;
  border-radius: 10px;
  border: 1px solid $secondary2;
  overflow: hidden;
}

.migratev2PositionCardDetails {
  padding: 10px 16px 0;
  margin-bottom: 24px;
  @include media('screen', '<phone') {
    padding: 12px;
  }
}
.migratev2LiquidityButton {
  height: 36px;
  width: 100%;
  border-radius: 10px;
}

.v3MigrateDetailsBox {
  background-color: $grey31;
  border-radius: 10px;
  padding: 16px;
  border: 1px solid $secondary3;
}

.v3MigrateDetailsRow {
  display: flex;
  justify-content: space-between;
  .currencyLogo {
    margin-right: 6px;
  }
}

.v3MigrateDetailsButton {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  &.Mui-disabled {
    background-color: $grey2;
  }
}
