@use 'src/styles/variables' as *;
@use 'src/styles/breakpoints' as *;

.steer-liquidity-item {
  background-color: $secondary1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 16px;
  @include media('screen', '<phone') {
    padding: 16px 12px;
  }
}

.steer-liquidity-range {
  background-color: $grey12;
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 11px;
}

.steer-liquidity-item-expand {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
