@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.steer-liquidity-item {
  background-color: $secondary1;
  padding: 20px;
  border-radius: 10px;
  position: relative;
  margin-top: 16px;
  @include media('screen', '<phone') {
    padding: 16px 12px;
  }
}

.steer-liquidity-range {
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 8px;
  color: $bgColor;
}

.steer-liquidity-range-wide {
  background-color: $blue12;
}

.steer-liquidity-range-narrow {
  background-color: $purple8;
}

.steer-liquidity-range-stable {
  background-color: $green5;
}

.steer-liquidity-item-expand {
  position: absolute;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  background-color: $primaryLight;
  color: $primary;
  right: 20px;
  top: 20px;
  cursor: pointer;
}
