@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.liquidityItem {
  background-color: $secondary1;
  padding: 20px;
  border-radius: 10px;
  margin-top: 16px;
  @include media('screen', '<phone') {
    padding: 16px 12px;
  }
}

.liquidityRange {
  background-color: $grey12;
  height: 22px;
  display: flex;
  align-items: center;
  padding: 0 10px;
  border-radius: 11px;
}

.liquidityItemExpand {
  cursor: pointer;
  width: 24px;
  height: 24px;
}
