$primary:#448aff;
$primaryDark:#1C2938;
$secondary:#344252;
$secondary1:#252833;
$secondary2:#232734;
$secondary3:#2c3242;
$textPrimary:#c7cad9;
$textSecondary:#696c80;
$textDisabled:#626680;
$textHint:#636780;
$bgColor:#12131a;
$bgPalette:#1b1e29;
$grey1:rgba(99, 103, 128, 0.1);
$grey2:#3e4252;
$grey3:#1b1d26;
$grey4:rgba(68, 138, 255, 0.24);
$grey5:rgba(225, 190, 231, 0.1);
$grey6: #c5cbe0;
$successMain:#0fc679;
$successLight:#1DB2D5;
$successDark:rgba(15, 198, 121, 0.1);
$errorMain:#ff5252;
$errorLight:#f00;
$errorDark:rgba(255, 82, 82, 0.1);
$divider:rgba(130, 177, 255, 0.08);
$blue: #3d71ff;
