$primary:#448aff;
$primaryDark:#1C2938;
$secondary:#344252;
$secondaryLight:#252833;
$secondaryDark:#232734;
$secondaryContrast:#2c3242;
$textPrimary:#c7cad9;
$textSecondary:#696c80;
$textDisabled:#626680;
$textHint:#636780;
$bgColor:#12131a;
$bgPalette:#1b1e29;
$greyLight:rgba(99, 103, 128, 0.1);
$greyBgLight:#3e4252;
$greyBg:#1b1d26;
$successMain:#0fc679;
$successDark:#1DB2D5;
$successLight:rgba(15, 198, 121, 0.1);
$errorMain:#ff5252;
$errorDark:#f00;
$errorLight:rgba(255, 82, 82, 0.1);
$divider:rgba(130, 177, 255, 0.08);
