@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  text-align: center;
  z-index: 2;
  & h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 9px;
  }
  & h1 {
    font-size: 55px;
    font-weight: 700,
  }
  & h5 {
    font-size: 15px;
    color: $textSecondary
  }
  & > button {
    height: 56px;
    width: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.tradingInfo {
  width: 100%;
  position: relative;
  z-index: 2;
  justify-content: center;
  @include media("screen", "<desktop") {
    flex-wrap: wrap;
  }
}
.quickInfo {
  text-align: center;
  margin: 128px auto 30px;
  width: 100%;
  max-width: 800px;
  & h2 {
    margin-bottom: 60px
  }
}
.rewardsContainer {
  text-align: center;
  margin: 172px 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media("screen", "<phone") {
    margin: 32px 0 64px;
  }
  .allRewardPairs {
    width: 194px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: $secondary1;
    cursor: pointer;
  }
}
.featureHeading {
  margin: auto;
  text-align: center;
  & h3 {
    color: $grey7;
    margin-bottom: 32px
  }
}
.featureDivider {
  width: 32px;
  height: 2px;
  background: $successLight;
  margin: auto;
}
.featureContainer {
  & > div.MuiGrid-root {
    margin-top: 32px;
    & > div {
      & img {
        width: 150px;
        max-width: 240px;
      }
      & > div {
        width: calc(100% - 270px);
      }
      @include media("screen", "<phone") {
        flex-direction: column;
        & img, & > div {
          width: 100%;
          text-align: center;
        }
      }
    }
  }
  & .featureText {
    margin-left: 8px;
    & h3 {
      color: white;
      margin-bottom: 8;
    }
  }
}
.communityContainer {
  margin: 100px 0;
  & .socialContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    & > div {
      padding: 16px;
      text-align: center;
      width: 120px;
      & a {
        text-decoration: none;
        color: $textPrimary;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
          color: white;
        }
      }
      &.svgFill a:hover svg path {
        fill: white;
      }
      & svg, & img {
        width: 64px;
        height: 64px;
        margin-bottom: 8px;
      }
      &.svgFill svg path {
        fill: $textPrimary;
      }
      &.noFill svg, & img {
        opacity: 0.8;
      }
      &.noFill a:hover svg, & a:hover img {
        opacity: 1;
      }
    }
  }
}
.smallCommunityContainer {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 56px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 24px;
  background: $grey8;
  backdrop-filter: blur(30px);
  z-index: 10;
  & a {
    display: flex;
  }
  & .svgFill svg {
    &:hover path {
      fill: $textPrimary
    }
    & path {
      fill: $textSecondary
    }
  }
  & .noFill svg, & img {
    opacity: 0.5;
    &:hover {
      opacity: 1;
    }
  }
  & svg, & img {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  @include media("screen", "<tablet") {
    display: none;
  }
}

.swapContainer {
  text-align: center;
  padding: 20px 0;
  max-width: 1048px;
  margin: auto;
  width: 100%;
  & > div {
    width: 100%;
  }
  @include media("screen", "<phone") {
    & .MuiGrid-item {
      width: 100%;
      margin-bottom: 32px;
      text-align: center;
    }
  }
}

.swapInfo {
  text-align: left;
  margin-bottom: 60px;
  @include media("screen", "<tablet") {
    order: -1;
  };
  & h3 {
    margin-bottom: 16px;
  }
}

.tradingSection {
  background: $bgColor;
  width: calc(25% - 24px);
  max-width: 288px;
  min-width: 220px;
  height: 133px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 12px;
  & h6 {
    padding-top: 2px;
  }
  & p {
    font-size: 12px;
    color: $textSecondary;
    padding-top: 12px;
  }
  & h4 {
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
    color: $primary;
  }
  @include media("screen", "<phone") {
    height: unset;
  }
}

.buyFiatContainer {
  background: $bgPalette;
  padding: 40px;
  border-radius: 48px;
  overflow: hidden;
  position: relative;
  @include media("screen", "<tablet") {
    height: auto;
  }
  @include media("screen", "<phone") {
    padding: 24px;
    border-radius: 24px;
  }
  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1248px;
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;
    & img {
      width: 129px;
      max-width: 320px;
    }
    @include media("screen", "<phone") {
      flex-direction: column;
      padding: 0
    }
  }
  & .buyFiatInfo {
    position: relative;
    margin-right: 20px;
    & > h3 {
      font-size: 22px;
      margin-bottom: 12px;
    }
    @include media("screen", "<phone") {
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 32px;
      & img, & > div {
        width: 100%;
      }
      & img {
        margin: -32px 0;
      }
      & div {
        padding: 0 20px 20px;
      }
      & button {
        width: 100%;
      }
    }
    & button {
      margin-top: 24px;
      height: 40px;
      border-radius: 20px;
      padding: 0 20px;
      & small {
        font-size: 16px;
      }
    }
  }
  & .buyFiatWrapper {
    width: 408px;
    position: relative;
    @include media("screen", "<tablet") {
      width: calc(100% - 64px);
      margin-bottom: 32px;
    }
    @include media("screen", "<phone") {
      width: calc(100% - 40px);
    }
    & .buyContent {
      background: $bgColor;
      border-radius: 20px;
      padding: 24px;
      & > div {
        padding: 0;
        border: none;
        background: transparent;
        & > p {
          margin-bottom: 8px;
        }
      }
    }
  }
  .poweredBySection {
    position: absolute;
    bottom: 16px;
    right: 16px;
    height: auto;
    font-size: 12px;
    font-weight: 600;
    color: $textSecondary;
    & img {
      height: 20px;
      width: auto;
    }
  }
}