.eternal-page {

  &__row {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 3rem;
    row-gap: 1rem;
  }

  &__loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 400px;

    & > * {
      margin-bottom: 1rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .eternal-page {

    &__row {
      grid-template-columns: repeat(1, 1fr);
    }

  }
}