@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.chartWrapper {
  position: relative;
  justify-content: center;
  align-content: center;
}

.filledPath {
  stroke: #2797FF;
  fill: url(#liquidity-chart-gradient);
}

.path {
  opacity: 1;
  stroke: #13151c;
  stroke-width: 2px;
  fill: transparent;
}

.group {
  line {
    display: none;
  }

  text {
    color: $textSecondary;
    transform: translateY(5px);
    font-family: Montserrat, sans-serif;
  }
}

.labelGroup {
  opacity: 0;
  transition: opacity 300ms;
}

.visibleLabelGroup {
  opacity: 1;
}

.tooltipBackground {
  fill: #2797FF;
}

.tooltip {
  text-anchor: middle;
  font-size: 9px;
  font-family: Montserrat, sans-serif;
  fill: $textPrimary;
}

.styledLine {
  opacity: 0.5;
  stroke-width: 1;
  stroke: #2797ff;
  stroke-dasharray: 3;
  fill: none;
}

.wrapper {
  display: grid;
  // grid-template-columns: repeat(${({ count }) => count.toString()}, 1fr);
  grid-gap: 6px;
  position: absolute;
  border-radius: 4px;
  top: 0;
  right: 0;
};

.zoomOverlay {
  fill: transparent;
};
