@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.availableBondsSwitch {
  background-color: white;
  border-radius: 8px !important;
  & p {
    color: $bgPalette;
  }
}

.bondItemWrapper {
  background-color: $secondary1;
  padding: 16px;
  border-radius: 16px;
}
