@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

#calculator-page {
  user-select: none;
}

.box-wrapper {
  background: $bgPalette;
  border-radius: 20px;
  padding: 32px;
  position: relative;
  overflow: hidden;
  @include media('screen', '<phone') {
    padding: 24px 16px;
  }
}

.heading {
  font-size: 24px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.25;
  letter-spacing: normal;
  text-align: left;
  color: #c7cad9;
  margin-bottom: 24px;
}

.heading-half {
  margin-bottom: 12px;
}

.sub-heading {
  font-size: 16px;
  color: #c7cad9;
  opacity: 0.72;
  line-height: 1.88;
}

.sub-heading-20 {
  font-size: 20px;
}


.heading-mb-0 {
  margin-bottom: 0px;
}


.text-desc {
  opacity: 0.72;
  font-family: Inter;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.5;
  letter-spacing: normal;
  text-align: left;
  color: #c7cad9;
}

.button {
  display: flex;
  align-items: center;
  height: 50px;
  padding: 0 28px;
  border-radius: 10px;
  color: $textPrimary;
  cursor: pointer;
}

.filledButton {
  background: linear-gradient(279deg, rgb(0, 76, 230), rgb(61, 113, 255));
}

.calculatorContainer {
  display: flex;
  align-items: center;
  // justify-content: space-between;
  min-height: 64px;
  margin-bottom: 1rem;
  width: 100%;
}

.currencyContainer {
  display: flex;
  width: 100%;
  height: 64px;
  margin: 0 24px 0px 0;
  padding: 2px 2px 2px 16.5px;
  border-radius: 14px;
  background-color: #282d3d;
  align-items: center;
}

.convertor-symbol {
  width: 32px;
  height: 32px;
  padding: 6.4px 6.4px 6.4px;
  border-radius: 16px;
  border: solid 2px #282d3d;
  background-color: #1b1e29;
  margin-right: 24px;
}

.swap-icon {
  width: 36px;
  height: 36px;
  border-radius: 18px;
  padding: 6px;
  // padding: 6.4px 6.4px 6.4px;
  border: solid 1px #282d3d;
  background-color: #1b1e29;
  fill: #696c80;
  margin-right: 28px;
}


@media (max-width: 768px) {
  .calculatorContainer {
    flex-direction: column;
  }

  .currencyContainer {
    margin: 0px;
    margin-top: 1rem;
    margin-bottom: 1rem;
  }

  .swap-icon {
    margin-right: 0px;
    rotate: -90deg;
  }

  .up-down-container {
    display: none;
  }
}

.chart-container {
  margin-top: 27px;
  background-color: #1b1e29;
  padding: 24px 21px 28px 0px;
  border-radius: 20px;
  background-color: #1b1e29;
}

.chart-heading {
  color: #c7cad9;
  margin: 4px 0 0 24px;
  font-size: 20px;
}

.chart-footer {
  font-size: 16px;
  line-height: 2.17;
  color: #696c80;
  text-align: center;
  margin: 21px 0px 0px 0px;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.currency-input {
  width: 100%;
  height: 60px;
  position: relative;
  outline: none;
  border: none;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-appearance: textfield;
  background: transparent;
  box-shadow: none;
  text-align: left;
  border-radius: 12px;
  padding: 6px 8px 6px 24px;
  color: $textPrimary;
  background-color: #12131a;
  font-size: 18px;
  font-weight: 600;
  font-family: 'Inter', sans-serif;

  &::placeholder {
    color: $textSecondary;
  }

  &::-webkit-search-decoration {
    -webkit-appearance: none;
  }

  & [type='number'] {
    -moz-appearance: textfield;
  }

  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
  }
  
}

.table-container {
  background: #1b1e29;
  color: white;
}

th.text-dark {
  color: #696c80;
}

th.text-bold {
  font-weight: bold;
  border-color: #282d3d;
}

td.text-light,
th.text-light {
  color: #c7cad9;
  border-color: #282d3d;
}

th.dark-border,
td.dark-border {
  border-color: #282d3d;
}

td.text-success {
  color: #46b27f;
}

td.text-danger {
  color: #ec605a;
}

li.step {
  position: relative;
}

li.step::marker {
  // color: #ec605a;
  content: '';
}

li.step:not(:last-child)::before {
  border: 1px dotted #696c80;
  content: '';
  position: absolute;
  top: 20px;
  left: -13px;
  width: 1px;
  height: 100%;
}

li.step::after {
  background-color: #12131a;
  border: 2px solid #448aff;
  border-radius: 100%;
  content: '';
  position: absolute;
  top: 20px;
  left: -20px;
  width: 16px;
  height: 16px;
}

.ml-3 {
  margin-left: 3rem;
}

.step-heading {
  color: #c7cad9;
  font-size: 16px;
  line-height: 1.88;
  font-weight: 600;
}

.step-description {
  color: #c7cad9;
  line-height: 1.67;
  font-size: 18px;
  opacity: 0.72;
}

a.btn-swap {
  padding: 14px 32px 16px;
  border-radius: 12px;
  background-color: #4489ffce;
  color: white;
  line-height: 4.44;
  font-size: 16px;
  letter-spacing: normal;
  text-align: center;
  text-decoration: none;
}

a.btn-swap:hover {
  background-color: #448aff;
}

.currency-icon {
  width: 24px;
  height: 24px;
  margin-top: 4px;
}


.up-down-container {
  // display: flex;
  position: relative;
  margin-top: 2px;
  margin-left: -33px;
  margin-right: 8px;
}

.icon-up {
  width: 16px;
  height: 16px;
  fill: #696c80;
  cursor: pointer;

  &:hover {
    fill: #696c80cd;
  } 
}

.icon-down {
  width: 16px;
  height: 16px;
  transform: scaleY(-1);
  fill: #696c80;
  cursor: pointer;
  stroke-width: 1;

  &:hover {
    fill: #696c80cd;
  } 
}

div.section {
  width: 100%;
}

@media (min-width: 1024px) {
  div.section {
    width: 75%;
  }
}