@use 'styles/variables' as *;

.errorInput {
  border-color: $errorMain
}

.externalDappWarningBanner {
  width: 100%;
  background: $errorMain;
  color: $bgColor;
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 32px 8px 16px;
  & span {
    margin-left: 8px;
    text-transform: uppercase;
    width: calc(100% - 32px);
    text-align: left;
  }
}
