@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.dragonWrapper-heading {
  padding: 24px 32px 16px 32px;
}

.dragonWrapper-tab-container {
  padding: 0px;
}

.dragonAlertWrapper {
  margin-bottom: 24px;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 16px 24px 16px 12px;
  border-radius: 12px;
}

.quickTodQuick {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.dragonLairRow {
  display: flex;
  justify-content: space-between;
  margin-top: 12px;
}

.dragonHeader::before {
  content: '';
  position: absolute;
  background-size: auto 100%;
  background-repeat: no-repeat;
  background-position: top right;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.3;
  cursor: pointer;
  background-image: url('../../assets/images/DragonBgNew.png');
}

.dragonHeader:hover:before {
  opacity: 1;
  animation: fadeOut 1s linear;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  100% {
    opacity: 1;
  }
  0% {
    opacity: 0;
  }
}

.dragonHeader {
  position: relative;
  border-radius: 16px;
  padding: 22px 24px;
  background-color: #322751;
  &.mobile::before {
    content: '';
    position: absolute;
    min-height: 360px;
    background-image: url('../../assets/images/DragonBgNewMobile.png');
    background-size: cover;
    opacity: 0.2;
  }

  .dragonWrapper-title {
    h5 {
      margin-bottom: 12px;
      color: #f6f6f9;
    }

    small {
      color: #cedaeb;
    }
  }

  .dragonWrapper-overview {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 46px;
    margin-top: 26px;
    padding-top: 5px;
    padding-bottom: 5px;

    .total-supply {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
    }

    small {
      font-size: 10px;
      text-transform: uppercase;
      color: #7d95b8;
    }

    h5 {
      font-size: 18px;
    }
  }

  .dragonWrapper-overview-mobile {
    display: block;
    margin-top: 26px;
    padding-top: 10px;
    padding-bottom: 10px;

    .flex-wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      margin-top: 12px;
      margin-bottom: 12px;
    }

    .total-supply {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 16px;
    }

    small {
      font-size: 10px;
      text-transform: uppercase;
      color: #7d95b8;
    }

    h5 {
      font-size: 18px;
    }
  }
}

.text-dragon-white {
  color: #f6f6f9;
}

.text-dragon-gray {
  color: #7d95b8;
}

.uppercase {
  text-transform: uppercase;
}

.dragonLairBg {
  background: #192338;
  border-radius: 16px;
  padding: 22px 24px 24px;
}

.dragonLairTitle {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .sub-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
}

.dragonLairTitleMobile {
  display: block;

  .sub-title {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 12px;
  }
}

.border-dragon {
  border: 1.2px solid #22314d;
  border-radius: 10px;
}

.dragonWrapper-tab-container {
  .MuiTab-root {
    text-transform: none;
    min-height: 34px;
    opacity: 1;
  }

  .MuiTabPanel-root {
    padding-right: 0px;
    padding-left: 0px;
  }

  .Mui-selected {
    margin: 6px;
    background-color: white;
    border-radius: 6px;
    color: #161f32;
  }

  .MuiTabs-indicator {
    display: none;
  }

  .MuiTab-wrapper {
    font-size: 14px;
  }

  .stake-wrapper {
    display: flex;
    flex-direction: column;
    gap: 20px;
    .notice-msg {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      small {
        color: #e18d2f;
        font-size: 13px;
        text-align: center;
      }
    }
    .input-item {
      display: flex;
      flex-direction: column;
      gap: 8px;

      .input-header {
        width: 100%;
        display: flex;
        justify-content: space-between;

        p {
          color: #7d95b8;
          font-size: 13px;
          font-weight: 500;
        }
      }

      .input-wrapper {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-radius: 12px;
        background-color: #22314d;
        padding: 19px 24px;

        .max-button {
          padding: 2px 6px;
          border-radius: 5px;
          border: solid 1px #7d95b8;
          font-size: 10px;
          color: #f6f6f9;
          background: transparent;
          margin-right: 16px;
          cursor: pointer;
        }

        .token-name {
          margin-left: 8px;
        }
      }
    }
  }
}

.stakeButton {
  background: #448aff;
  border-radius: 12px;
  border: unset;
  color: #f6f6f9;
  & .MuiButton-root {
    width: 100%;
  }
}

.dragonInfoWrapper {
  color: #f6f6f9;
  padding-bottom: 40px;

  .dragonLairTitle {
    margin-bottom: 30px;

    h5 {
      font-size: 18px;
    }
  }
  .tokenInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 8px;

    h5 {
      font-size: 14px;
    }

    small {
      font-size: 12px;
    }
  }

  .tokenWrapper {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 8px;

    p {
      font-size: 14px;
    }
  }

  hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: unset;
    border-bottom: 1px solid #22314d;
  }

  .sub-title {
    font-size: 11px;
  }
}

.dragonSyrupWrapper {
  .dragonSyrupHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .dragonSyrupHeaderWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;

      h5 {
        margin-bottom: 12px;
      }

      small {
        color: #cedaeb;
      }
    }

    .tab-container {
      border-radius: 10px;
      border: solid 1.2px #22314d;
      padding: 4px;

      button {
        border-radius: 6px;
        padding: 5px 20px 6px;
        background: transparent;
        font-size: 14px;
        color: #7d95b8;
        border-style: none;
        cursor: pointer;

        &.active {
          background: #f6f6f9;
          color: #161f32;
        }
      }
    }
  }

  .dragonSyrupHeaderMobile {
    .dragonSyrupHeaderWrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 24px;

      h5 {
        margin-bottom: 12px;
      }

      small {
        color: #cedaeb;
      }
    }

    .tab-container {
      border-radius: 10px;
      border: solid 1.2px #22314d;
      padding: 4px;

      button {
        border-radius: 6px;
        padding: 5px 20px 6px;
        background: transparent;
        font-size: 14px;
        color: #7d95b8;
        border-style: none;
        cursor: pointer;

        &.active {
          background: #f6f6f9;
          color: #161f32;
        }
      }
    }
  }

  .dragonSyrupContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;

    h5 {
      margin-top: 16px;
      font-size: 14px;
      color: #6880a3;
    }
  }
}

.dragonQuickBurnChart {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  padding: 22 24 24;
  height: 350px;

  .sub-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 12px;

    h5 {
      font-size: 20px;
    }
    small {
      font-size: 14px;
      color: #7d95b8;
    }
  }
  .chart-type {
    display: flex;
    align-items: center;
    gap: 8px;
    margin-top: 18px;

    .chart-type-button {
      display: flex;
      align-items: center;
      justify-content: center;
      height: 20px;
      padding: 0 8px 0;
      cursor: pointer;
      font-size: 12px;
    }
    .selected {
      border-radius: 10px;
      background-color: #374769;
    }
    .unselected {
      color: #6880a3;
    }
  }
}

.errorInput {
  border: 1px solid $errorMain;
}
