@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.farmsWrapper {
  background: $bgPalette;
  border-radius: 20px;
  padding: 32px;
  position: relative;
  overflow: hidden;
  @include media('screen', '<phone') {
    padding: 24px 16px;
  }
}

.farmListHeader {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 28px;
}

.farmRewards {
  display: flex;
  flex-wrap: wrap;
  margin: 16px 0;
  border-radius: 10px;
  padding: 12px 0;
  background-color: $secondary2;
}

a.button {
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: $primary;
  text-decoration: none;
  color: white;
  padding: 0.5rem 1.5rem;
  border-radius: 38px;
  & p {
    margin-left: 4px;
  }
}

a.button:hover {
  opacity: 0.9;
}

.farmCardButton {
  background-color: $primaryLight;
  height: 36px;
  width: 100%;
  color: $primary;
  border-radius: 12px;
  &:hover {
    background-color: $primaryLight;
  }
}

.farmCardAPR {
  display: flex;
  align-items: center;
  cursor: pointer;
  & p {
    color: $successMain;
  }
  &:hover {
    & p {
      text-shadow: 0 0 16px $successMain;
    }
  }
}

.farmAPRTooltipWrapper {
  backdrop-filter: blur(30px);
  box-shadow: 0 0 48px 0 rgba(18, 19, 26, 0.9);
  border: solid 1px rgba(255, 255, 255, 0.1);
  border-radius: 12px;
  background-color: $bgPalette;
  width: 360px;
  max-height: 90vh;
  overflow-y: auto;
  & > div {
    padding: 16px;
    &:not(:last-child) {
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }
}

.farmAPRTitleWrapper {
  padding: 0 8px;
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 6px;
  & span {
    font-weight: 500;
  }
}

.farmAPRGetLPButton {
  max-width: 90px;
  width: 100%;
  height: 36px;
  border-radius: 12px;
}

.v3PairFarmCardDetailsWrapper {
  & button {
    border-radius: 10px;
    height: 36px;
    padding: 0 16px;
    width: auto;
    & span {
      font-size: 14px;
    }
  }
}

.farmModalWrapper {
  max-width: 400px;
}

.claimAllBox {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 368px;
  overflow: hidden;
  border-radius: 14px;
  padding: 16px;
  margin-bottom: 24px;
  & img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    z-index: -1;
    object-fit: cover;
  }
  & button {
    height: 36px;
    border-radius: 10px;
    width: auto;
  }
  &.mobile {
    max-width: unset;
  }
}

.farmAprIcon {
  height: 16px;
}
