@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;



.hero {
  margin-top: 192px;
  color: #f6f6f9;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  justify-content: center;

  & h1 {
    font-size: 46px;
    font-weight: 600 !important;
    line-height: 1.16;
    font-weight: normal;
    width: 546px;
    padding-right: 100px;
  }

  & p {
    margin-top: 14px;
    font-size: 18px;
    font-weight: normal !important;
    line-height: 30px;
    width: 546px;
    color: #ccd8e7;
  }

  & button {
    margin-top: 20px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border-radius: 0.5rem;
    border-color: transparent;
    width: 156px;
    height: 48px;
    font-size: 16px;
    font-weight: 500;
    background-color: #448aff;
    color: white;
  }
}

.chainsContainer {
  margin-top: 154px;
  width: 90%;
  display: flex;
  align-items: center;
  color: #f6f6f9;
  font-size: 0.75rem;
  gap: 1rem;

  .chainsItems {
    display: flex;
    gap: 1rem;

    .chainsAddress {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.35rem;

      .networkIcon {
        width: 16px;
        height: 16px;
        border-radius: 12px;
      }

      .font-14 {
        font-size: 14px;
        line-height: 27px;
      }

      .networkDivider {
        border-left: 1px dotted rgb(81, 76, 76);
        height: 16px;
        // margin-left: 10px;
      }
    }
  }
}

.sectionContainer {
  margin-top: 112px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;

  .sectionHeading {
    color: #448aff;
    font-size: xx-large;
  }

  .sectionDesc {
    color: #ccd8e7;
    text-align: center;
    width: 432px;
  }

  .statsCardBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    justify-content: space-around;
    margin-bottom: 1rem;

    .statsCard {
      width: 204px;
      height: 107px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 1rem;

      & h5 {
        color: #6880a3;
        font-size: 11px;
      }

      .text-green {
        color: #1fb85f;
      }
    }
  }

  .statsContainer {
    & a {
      display: flex;
      align-items: center;
      gap: 0.5rem;

      & img {
        width: 15px;
      }
    }
  }

  .cardBox {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;

    .sectionCard {
      padding-top: 1.5rem;
      padding-bottom: 1.5rem;
      width: 204px;
      height: 318px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin: 40px 24px 0;

      & img {
        width: 32px;
        height: 32px;
      }

      div>& h5 {
        margin-top: 20px;
        color: #448aff;
        font-size: 18px;
      }

      div>p {
        margin-top: 12px;
        font-size: 14px;
        color: #ccd8e7;
      }

      & a {
        display: flex;
        align-items: center;
        gap: 0.5rem;

        & img {
          width: 15px;
        }
      }
    }
  }

  .btn {
    text-decoration: none;
    color: white;
  }
}

.cardBox,
.statsCardBox {

  .statsCard,
  .sectionCard {
    border: 3px solid transparent;
    border-radius: 16px;
    padding-left: 1rem;
    padding-right: 1rem;
    background: rgba(39, 39, 39, 0.1);
    backdrop-filter: blur(60px);
    -webkit-backdrop-filter: blur(60px);
    box-shadow: 0 0 80px rgba(0, 0, 0, 0.5);

    & img {
      width: 30%;
      object-fit: contain;
    }

    & p {
      color: #f6f6f9;
    }

    & a {
      & .btn {
        color: #ccd8e7;
        font-size: 0.8rem;
      }
    }
  }
}

.analytics {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;

  & a {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & img {
      width: 15px;
    }
  }
}

.communityContainer {
  margin-top: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1344px;
  height: 360px;
  border-radius: 2px;
  padding: 35px 73px 37px 72px;
  justify-content: space-between;
  background: rgba(78, 78, 78, 0.1);
  backdrop-filter: blur(60px);
  -webkit-backdrop-filter: blur(60px);

  .Subscribe {
    width: 432px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .sectionHeading {
      color: #448aff;
      font-size: 32px;
      font-weight: 600;
    }

    .sectionDesc {
      font-size: 16px;
      color: #ccd8e7;
    }
  }

  & .socialContent {
    width: 35%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;

    &>div {
      padding: 11px 24px;
      text-align: center;

      & a {
        text-decoration: none;
        color: white;


        p {
          font-size: 12px;
          width: 54px;
          color: #ccd8e7 !important;
          text-align: center;
        }

        &:hover {
          color: white;
        }


        &.svgFill a:hover svg path {
          fill: white;
        }

        & svg,
        & img {
          width: 48px;
          height: 48px;
          margin-bottom: 8px;
          filter: grayscale(1);
        }

        &.svgFill svg path {
          fill: white;
        }

        &.noFill svg,
        & img {
          opacity: 0.8;
        }

        &.noFill a:hover svg,
        & a:hover img {
          opacity: 1;
        }
      }
    }
  }
}

.newsletterInput {
  // margin-top: 0px;
  display: flex;
  justify-content: space-between;
  width: 272px;
  height: 40px;
  padding: 3px 0 4px 16px;
  border-radius: 8px;
  background: rgba(32, 37, 53, 0.65);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;

  & button {
    background: transparent;

    & span {
      font-size: 11px;
    }
  }

  input {
    background-color: transparent;
    border: none;
    color: white;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    color: #ccd8e7;
    font-size: 14px;
    font-weight: 500;
  }
}

.copyrightWrapper {
  display: flex;
  justify-content: space-between;
  color: white;
  padding-top: 18px;
  padding-bottom: 27px;
  font-size: 0.8rem;
}