@use "styles/variables" as *;
@use "styles/breakpoints" as *;

.heroSection {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  text-align: left;
  z-index: 2;
  @media screen and (max-width: '900px') {
    padding-top: 220px;
    align-items: center;
  }
  & h3 {
    text-transform: uppercase;
    margin-bottom: 20px;
    padding-top: 9px;
  }
  & h1 {
    font-size: 55px;
    font-weight: 700;
  }
  & h5 {
    font-size: 15px;
    color: $textSecondary;
  }
  & > button {
    height: 56px;
    width: 194px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cover_title {
    max-width: 40%;
    margin-bottom: 20px;
    @media screen and (max-width: '900px') {
      width: 100%;
      max-width: 100%;
      margin-bottom: 24px;
      padding: 0 20px;
    }
  }
  .cover_sub_title {
    max-width: 40%;
    margin-bottom: 20px;
    @media screen and (max-width: '900px') {
      width: 100%;
      max-width: 100%;
      padding: 0 40px;
      margin-bottom: 40px;
    }
  }
  .title {
    font-size: 50px;
    font-weight: 600;
    line-height: 1.16;
    @media screen and (max-width: '900px') {
      width: 100%;
      font-size: 32px;
      text-align: center;
    }
  }
  .subTitle {
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.67;
    @media screen and (max-width: '900px') {
      width: 100%;
      font-size: 14px;
      text-align: center;
    }
  }
}

.partner_list {
  text-align: center;
  @media screen and (max-width: '900px') {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .partner_title {
    color: #448aff;
    font-weight: bold;
    margin-bottom: 20px;
    margin-bottom: 32px;
  }
  .partner_list {
    margin: 0 auto;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;

    .partner_item {
      border-radius: 16px;
      width: 318px;
      height: 148px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      -webkit-backdrop-filter: blur(24px);
      backdrop-filter: blur(24px);
      background-color: #9b9b9b0f;
      position: relative;
      .partner_item_avatar {
        position: absolute;
        left: 15px;
        top: 15px;
        display: flex;
        width: 100%;
        gap: 10px;
        align-items: center;
      }
      .partner_item_logo {
        margin: 0 auto;
      }
      @media screen and (max-width: '900px') {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    @media screen and (max-width: '900px') {
      flex-direction: column;
      align-items: start !important;
      display: block;
    }
  }
}
.available_chain_list {
  text-align: center;
  @media screen and (max-width: '900px') {
    flex-direction: column;
    align-items: center;
    gap: 24px;
  }

  .available_chain_title {
    color: #448aff;
    font-weight: bold;
    margin-bottom: 20px;
    margin-bottom: 32px;
  }
  .chain_list {
    margin: 0 auto;
    flex-direction: row;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;

    .chain_item {
      border-radius: 16px;
      width: 202px;
      height: 120px;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-wrap: wrap;
      gap: 10px;
      -webkit-backdrop-filter: blur(24px);
      backdrop-filter: blur(24px);
      background-color: #9b9b9b0f;
      img {
        margin: 0 auto;
        width: 40px;
        border-radius: 24px;
      }
      @media screen and (max-width: '900px') {
        width: 100%;
        margin-bottom: 15px;
      }
    }
    @media screen and (max-width: '900px') {
      flex-direction: column;
      align-items: start !important;
      display: block;
    }
  }
}

.quick_statistics {
  align-items: center;
  @media screen and (max-width: '900px') {
    align-items: start;
  }

  .title {
    font-size: 32px;
    @media screen and (max-width: '900px') {
      font-size: 24px;
    }
  }
  .desc {
    text-align: center;
    font-size: 18px;
    @media screen and (max-width: '900px') {
      text-align: left;
      font-size: 16px;
    }
  }
}

.tradingInfo {
  width: 100%;
  position: relative;
  z-index: 2;
  justify-content: center;
  flex-wrap: wrap;
  gap: 24px;
  @include media('screen', '<desktop') {
    flex-wrap: wrap;
  }
}
.quickInfo {
  text-align: center;
  margin: 0 auto 12px;
  width: 100%;
  max-width: 80%;
  & h2 {
    margin-bottom: 60px;
  }
}
.rewardsContainer {
  text-align: center;
  margin-top: 90px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @include media('screen', '<phone') {
    margin: 32px 0 64px;
  }
  .allRewardPairs {
    width: 194px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 24px;
    background-color: $secondary1;
    cursor: pointer;
  }
}
.featureHeading {
  margin: auto;
  align-items: center;
  @media screen and (max-width: '900px') {
    align-items: start;
  }
  & h3 {
    color: $grey7;
    margin-bottom: 32px;
  }

  .title {
    font-size: 32px;
    @media screen and (max-width: '900px') {
      font-size: 24px;
    }
  }
  .desc {
    text-align: center;
    font-size: 18px;
    @media screen and (max-width: '900px') {
      text-align: left;
      font-size: 16px;
    }
  }
}

.feat_block {
  width: 204px;
  height: 318px;
  padding: 24px;
  background-color: #9b9b9b0f;
  transition: 0.3s ease-in-out;
  position: relative;

  &:hover {
    // background-color: #9b9b9b4b;
    box-shadow: 1px 3px 30px 0px rgba(145, 145, 145, 0.75);
    -webkit-box-shadow: 1px 3px 30px 0px rgba(145, 145, 145, 0.75);
    -moz-box-shadow: 1px 3px 30px 0px rgba(145, 145, 145, 0.75);
    transform: translateY(-5px);
  }

  @media screen and (max-width: '900px') {
    width: 100%;
    height: 200px;
  }
  .cover_title {
    flex-direction: column;
    gap: 26px;
    @media screen and (max-width: '900px') {
      flex-direction: row;
      gap: 24px;
      align-items: center;
      margin-bottom: 16px;
    }
    p {
      margin-bottom: 12px;
      @media screen and (max-width: '900px') {
        margin-bottom: 0;
      }
    }
  }

  .link_action {
    position: absolute;
    left: 24px;
    bottom: 24px;
    @media screen and (max-width: '900px') {
      bottom: 28px;
    }
  }
}

.featureDivider {
  width: 32px;
  height: 2px;
  background: $successLight;
  margin: auto;
}
.cover_feat_block {
  gap: 24px;
  @media screen and (max-width: '900px') {
    gap: 16px;
  }
}
.featureContainer {
  & > div {
    margin-top: 32px;
    & > div {
      & img {
        width: 32px;
        height: 32px;
      }
      @include media('screen', '<phone') {
        flex-direction: column;
        & > div {
          width: 100%;
          text-align: center;
        }
      }
    }

    a {
      display: flex;
      gap: 4px;
      align-items: center;
      text-decoration: none;
      font-size: 14px;
      color: #ccd8e7;
    }
  }
  & .featureText {
    & h3 {
      color: white;
      margin-bottom: 8;
    }
    p {
      font-size: 14px;
      text-align: left;
    }
  }
}
.communityContainer {
  margin: 100px 0;
  & .socialContent {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 48px;
    .cover_community_content {
      padding: 35px 75px;
      @media screen and (max-width: '900px') {
        padding: 48px 24px;
      }

      .cover_content {
        max-width: 80%;
        @media screen and (max-width: '900px') {
          max-width: 100%;
        }

        .title {
          text-align: left;
          font-size: 32px;
          @media screen and (max-width: '900px') {
            text-align: center;
            font-size: 24px;
          }
        }

        .desc {
          text-align: left;
          font-size: 16px;
          @media screen and (max-width: '900px') {
            text-align: center;
          }
        }
      }
    }

    .email_form {
      width: 318px;
      @media screen and (max-width: '900px') {
        width: 100%;
        margin-bottom: 40px;
      }

      button {
        &:hover {
          transform: translateX(5px);
        }
      }
    }

    .cover_social_list {
      z-index: 10;
      position: relative;
      @media screen and (max-width: '900px') {
        justify-content: center;
      }
    }

    & > div {
      padding: 16px;
      text-align: center;
      width: 120px;
      & a {
        text-decoration: none;
        color: $textPrimary;
        display: flex;
        flex-direction: column;
        align-items: center;
        &:hover {
          color: white;
        }
      }
      &.svgFill a:hover svg path {
        fill: white;
      }
      & img {
        width: 64px;
        height: 64px;
        margin-bottom: 8px;
        filter: grayscale(1);
        @media screen and (max-width: '900px') {
          width: 48px;
          height: 48px;
        }
      }
      &.svgFill svg path {
        fill: $textPrimary;
      }
      &.noFill svg,
      & img {
        opacity: 0.8;
      }
      &.noFill a:hover svg,
      & a:hover img {
        opacity: 1;
      }
    }
  }
}
.smallCommunityContainer {
  display: flex;
  align-items: center;
  padding: 0 16px;
  height: 56px;
  position: fixed;
  bottom: 0;
  right: 0;
  border-top-left-radius: 24px;
  background: $grey8;
  backdrop-filter: blur(30px);
  z-index: 11;
  & a {
    display: flex;
  }
  & .svgFill svg {
    &:hover path {
      fill: $textPrimary;
    }
    & path {
      fill: $textSecondary;
    }
  }
  & .noFill svg,
  & img {
    opacity: 0.5;
    filter: grayscale(1);
    &:hover {
      opacity: 1;
    }
  }
  & svg,
  & img {
    width: 32px;
    height: 32px;
    cursor: pointer;
  }
  @include media('screen', '<tablet') {
    display: none;
  }
}

.swapContainer {
  text-align: center;
  padding: 20px 0;
  max-width: 1048px;
  margin: auto;
  width: 100%;
  & > div {
    width: 100%;
  }
  @include media('screen', '<phone') {
    & .MuiGrid-item {
      width: 100%;
      margin-bottom: 32px;
      text-align: center;
    }
  }
}

.swapInfo {
  text-align: left;
  margin-bottom: 60px;
  @include media('screen', '<tablet') {
    order: -1;
  }
  & h3 {
    margin-bottom: 16px;
  }
}

.tradingSection {
  background: #9b9b9b0f;
  -webkit-backdrop-filter: blur(24px);
  backdrop-filter: blur(24px);
  width: 204px;
  // max-width: 288px;
  // min-width: 220px;
  height: 107px;
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // justify-content: center;
  padding: 28px 24px;
  border-radius: 20px;
  transition: 0.3s ease-in-out;
  cursor: pointer;

  &:hover {
    background: #9b9b9b5b;
  }

  @include media('screen', '<desktop') {
    width: 187px;
  }
  & p {
    font-size: 12px;
    color: $textSecondary;
    margin-bottom: 12px;
  }
  & h4 {
    font-size: 12px;
    cursor: pointer;
    margin-top: 3px;
    color: $primary;
  }
  @include media('screen', '<phone') {
    height: unset;
  }
  & h3 {
    font-size: 20px;
  }
}

.buyFiatContainer {
  background: $bgPalette;
  padding: 40px;
  border-radius: 48px;
  overflow: hidden;
  position: relative;
  @include media('screen', '<tablet') {
    height: auto;
  }
  @include media('screen', '<phone') {
    padding: 24px;
    border-radius: 24px;
  }
  & > img {
    position: absolute;
    top: 0;
    left: 0;
    width: 1248px;
  }
  & > div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    position: relative;
    z-index: 2;
    & img {
      width: 129px;
      max-width: 320px;
    }
    @include media('screen', '<phone') {
      flex-direction: column;
      padding: 0;
    }
  }
  & .buyFiatInfo {
    position: relative;
    margin-right: 20px;
    & > h3 {
      font-size: 22px;
      margin-bottom: 12px;
    }
    @include media('screen', '<phone') {
      flex-direction: column;
      margin-right: 0;
      margin-bottom: 32px;
      & img,
      & > div {
        width: 100%;
      }
      & img {
        margin: -32px 0;
      }
      & div {
        padding: 0 20px 20px;
      }
      & button {
        width: 100%;
      }
    }
    & button {
      margin-top: 24px;
      height: 40px;
      border-radius: 20px;
      padding: 0 20px;
      & small {
        font-size: 16px;
      }
    }
  }
  & .buyFiatWrapper {
    width: 408px;
    position: relative;
    @include media('screen', '<tablet') {
      width: calc(100% - 64px);
      margin-bottom: 32px;
    }
    @include media('screen', '<phone') {
      width: calc(100% - 40px);
    }
    & .buyContent {
      background: $bgColor;
      border-radius: 20px;
      padding: 24px;
      & > div {
        padding: 0;
        border: none;
        background: transparent;
        & > p {
          margin-bottom: 8px;
        }
      }
    }
  }
  .poweredBySection {
    position: absolute;
    bottom: 16px;
    right: 16px;
    height: auto;
    font-size: 12px;
    font-weight: 600;
    color: $textSecondary;
    & img {
      height: 20px;
      width: auto;
      &.meldLogo {
        height: 15px;
        margin: 0 3px 0 6px;
      }
    }
  }
}

.newsletterSignupWrapper {
  max-width: 1036px;
  border-radius: 21px;
  background-color: $bgPalette;
  margin: 0 auto;
  position: relative;
  padding: 32px;
  display: flex;
  align-items: center;
  & img {
    position: absolute;
    bottom: 0;
    right: 0;
    opacity: 0.4;
  }
  @include media('screen', '<tablet') {
    flex-direction: column;
    & > div:first-child {
      text-align: center;
    }
  }
  @include media('screen', '<phone') {
    padding: 24px;
  }
}

.newsletterSignupFormWrapper {
  margin: 0 60px 0 32px;
}

.newsletterSignupForm {
  border: 1px solid $grey22;
  background-color: $bgColor;
  display: flex;
  padding: 6px;
  border-radius: 11px;
  position: relative;
  z-index: 5;
  & input {
    background-color: transparent;
    border: none;
    outline: none;
    box-shadow: none;
    flex: 1;
    color: white;
    width: 290px;
    margin-right: 6px;
  }
  & button {
    background: linear-gradient(90deg, $blue9 0%, $purple3 100%);
    width: 123px;
    height: 40px;
    & span {
      font-size: 14px;
      font-weight: 500;
    }
  }
  @include media('screen', '<tablet') {
    margin: 16px 0 0;
    width: 100%;
    max-width: 430px;
    & input {
      width: auto;
    }
  }
}
