@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.limitOrderPanel {
  & > div {
    max-width: unset;
  }
}

.swapTokenDetails {
  background: $bgPalette;
  border-radius: 16px;
  width: calc(50% - 16px);
  @include media('screen', '<desktop') {
    width: 100%;
    margin-bottom: 16px;
  }
  @include media('screen', '<tablet') {
    width: calc(50% - 16px);
    margin: 0;
  }
  @include media('screen', '<phone') {
    width: 100%;
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

#swap-page {
  padding-top: 88px;
}

.swapItem {
  padding: 0 16px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  & p {
    color: $textSecondary;
  }
}

.activeSwap {
  background: $secondary1;
  & p {
    color: white;
  }
}

.swap-bg-highlight {
  background-color: #404557;
  color: white;
}

.headingItem {
  cursor: pointer;
  display: flex;
}

.proModeWrapper {
  background-image: linear-gradient(to bottom, #282d3d, #282d3d);
  border-top: 1px solid $divider;
  border-bottom: 1px solid $divider;
  .swapItem {
    border-radius: 0;
  }
}

.liquidityMain {
  & small {
    color: $textSecondary;
    font-weight: 600;
  }
}

.liquidityFilter {
  & small {
    cursor: pointer;
    margin-right: 20px;
    &.active {
      color: $primary;
    }
  }
}

.liquidityContent {
  border: 1px solid $secondary1;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 16px;
  display: flex;
  flex-wrap: wrap;
  & small {
    font-weight: 600;
  }
}

.splitPane {
  & [data-type='Resizer'] {
    margin: 8px 0 0;
  }
}

.tradeTable {
  width: 100%;
  & thead tr th,
  & tbody tr td {
    border-right: 1px solid $divider;
    &:last-child {
      border-right: none;
    }
  }
  & thead tr th {
    position: sticky;
    top: 0;
    text-transform: uppercase;
    padding: 8px 16px;
    background: $secondary;
    color: $textPrimary;
    font-weight: normal;
  }
  & tbody td.sell {
    color: $errorMain;
    & a {
      color: $errorMain;
    }
  }
  & tbody td.buy {
    color: $successMain;
    & a {
      color: $successMain;
    }
  }
  & tbody tr td {
    padding: 8px 16px;
    & a {
      text-decoration: none;
    }
  }
}

.swapFilter {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 8px;
  & p {
    text-transform: uppercase;
  }
}
.checkWrapper {
  display: flex;
  align-items: center;
  margin-right: 16px;
  & .MuiCheckbox-root {
    padding: 2px;
    & svg path {
      fill: $textPrimary;
    }
  }
  & small {
    text-transform: uppercase;
  }
}
.replayButton {
  cursor: pointer;
  display: flex;
  margin-left: 8px;
}

.swapIcon {
  background: $grey6;
  width: 16px;
  height: 16px;
  border-radius: 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  cursor: pointer;
  & svg {
    width: 14px;
  }
}

.swapProWrapper {
  flex: 1;
  max-height: 100vh;
  min-height: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  .reflex-container {
    flex: 1;
    .top-pane {
      overflow: hidden;

      iframe {
        max-height: 100vh;
        min-height: 500px;
      }
    }
  }
  @include media('screen', '<phone') {
    flex: none;
  }
}

.swapTxInfo {
  padding: 8px;
  & > div {
    padding: 8px 0;
    display: flex;
    justify-content: space-between;
  }
}

.swapTxInfoHeader {
  color: $textSecondary;
}

.buySellWidgetContainer {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
  width: 100%;
  & > .row {
    background-color: transparent;
    display: flex;
    height: 3rem;
    width: 100%;
    & > div {
      min-width: 3rem;
      & > img {
        background-color: transparent;
        width: 3rem;
        height: 3rem;
      }

      img.wallet {
        position: absolute;
        margin-top: 4px;
      }
    }

    & > div.heading {
      margin-left: 2rem;
      margin-right: auto;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 16px;
    }

    .sub-heading {
      font-size: 12px;
      color: $textSecondary;
      margin-top: 6px;

      & > img.spritz {
        margin-top: -6px;
        margin-left: 0.25rem;
        height: 20px;
        position: absolute;
      }
    }

    a.button {
      display: flex;
      align-items: center;
      cursor: pointer;
      background-color: $primary;
      text-decoration: none;
      color: white;
      padding: 6px 12px;
      border-radius: 38px;
      & p {
        margin-left: 4px;
      }
    }
  }
}

div.sell {
  color: $errorMain;
}

div.buy {
  color: $successMain;
}

.btn-swap-widget {
  cursor: pointer;
  background-color: #1b1e29;
  border-radius: 12px;
  padding: 12px 12px;
  margin: 0px;

  &:hover {
    color: $textPrimary;
    background: $secondary1;
  }
}

.tradingview-widget-container > iframe {
  height: 100%;
  width: 100%;
}