@use 'styles/variables' as *;

.adsWrapper {
  width: 100%;
  position: relative;
  &.smallAds {
    .adsBg {
      height: 80px;
    }
    .adsContent {
      flex-direction: column;
      justify-content: flex-start;
      padding: 6px 0;
      & img {
        width: 177px;
      }
      & .adsText {
        margin-top: 1px;
        margin-bottom: 6px;
        p {
          font-size: 15px;
        }
      }
    }
  }
  &.mobileAds {
    .adsBg {
      height: 50px;
    }
    .adsContent {
      padding: 0 10px;
      & img {
        width: 72px;
      }
      & .adsText p {
        font-size: 12px;
        max-width: 160px;
      }
    }
  }
  &.smallAds, &.mobileAds {
    & .adsText p {
      letter-spacing: 0;
    }
    & .adsButton {
      width: 59px;
      height: 18px;
      font-size: 9px;
    }
  }

}

.adsBg {
  background-color: $blue8;
  border-radius: 10px;
  position: relative;
  overflow: hidden;
  height: 90px;
  & img{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 100%;
    min-height: 100%;
    mix-blend-mode: screen;
  }
}

.adsContent {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  
  & img {
    width: 340px;
  }
  & .adsText {
    position: relative;
    & p {
      font-family: 'Lato', sans-serif;
      line-height: 1.09;
      font-size: 24px;
      font-weight: 900;
      letter-spacing: -0.22px;
      color: white;
      max-width: 320px;
      text-align: center;
    }
    & .adsTextFilter {
      position: absolute;
      top: 0;
      left: 0;
      filter: blur(16px);
    }
  }
  & .adsButton {
    background-color: $green3;
    width: 111px;
    height: 28px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    color: white;
    cursor: pointer;
  }
}