@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.chartContainer {
  flex: 1;
  margin-top: -20px;
}

.yAxis {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 8px;
  margin-bottom: 20px;
  & p {
    font-size: 10px;
    font-weight: 500;
    color: $textDisabled;
  }
}