@use 'styles/variables' as *;

.buttonSwitchContainer {
  border: 1px solid $grey27;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
}

.buttonSwitchItem {
  flex: 1;
  color: $textSecondary;
  font-size: 12px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 6px;
}

.buttonSwitchItemActive {
  background-color: $grey30;
  color: $textPrimary;
  cursor: default;
}
