@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.paymentBox {
  margin-top: 24px;
  border: 1px solid $secondary1;
  padding: 32px 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 8px;
  & img {
    height: 40px;
    @include media("screen", "<phone") {
      width: 100%;
      height: auto;
    }
  }
}
.buyButton {
  min-width: 104px;
  height: 36px;
  padding: 0 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 18px;
  background: $primary;
  cursor: pointer;
  &.disabled {
    opacity: 0.5;
    cursor: default;
  }
  @include media("screen", "<phone") {
    width: 100%;
    margin-top: 12px;
  }
}

.payment-meld-logo {
  display: flex;
  align-items: center;
  & img {
    height: 60px;
    margin: -10px 8px -10px -10px;
  }
  & p {
    font-size: 18px;
    font-weight: 800;
    letter-spacing: 2px;
    background: linear-gradient(#E98ADA, #7E4DBD);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}