@use 'styles/variables' as *;

.coloredSlider {
  color: $blue4;
  height: 2px;
  width: 100%;
  padding: 13px 0;
  cursor: pointer;
}

.colorSliderTrack {
  height: 2px;
  border-radius: 4px;
  padding-right: 8px;
  &.colorSliderTrack-0 {
    background: $blue5;
  }
  &.colorSliderTrack-1 {
    background: $bgPalette;
  }
}

.coloredSliderThumb {
  height: 20px;
  width: 20px;
  background-color: $primary;
  margin-top: -9px;
  margin-left: 0;
  border-radius: 10px;
  box-shadow: 0px 2px 5px $grey21;

  &:focus, &:hover, &.active {
    box-shadow: inherit;
  }
}

