@use "styles/variables" as *;
@use "styles/breakpoints" as *;

.from_input {
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
}

.to_input {
  border-bottom-left-radius: 16px;
  border-bottom-right-radius: 16px;
}

.swapBox {
  padding: 16px;
  z-index: 1;
  position: relative;
  text-align: left;
  & > p {
    font-size: 14px;
    margin-bottom: 16px;
  }
  & > div {
    display: flex;
    align-items: center;
    & .inputWrapper {
      flex: 1;
      position: relative;
      padding-left: 8px;
      & input {
        color: #fff;
      }
    }
    & .maxWrapper {
      border-radius: 5px; 
      border: solid 1px #448aff;
      padding: 0px 6px;
      line-height: 1.2;
      cursor: pointer;
      & small {
        color: $primary;
        font-size: 10px;
      }
    }
  }
  @include media("screen", "<phone") {
    padding: 12px;
  }
}
.priceShowBox {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.currencyButton {
  display: flex;
  align-items: center;
  cursor: pointer;
  padding: 6px 10px 6px 6px;
  border-radius: 38px;
  & p {
    margin-left: 4px;
    color: #fff;
  }
}
.noCurrency {
  background-image: linear-gradient(105deg, $primary 3%, $blue1);
}
.currencySelected {
  // background-color: $grey12;
}
