@use 'styles/variables' as *;

.footer {
  border-top: 1px solid $divider;
  position: relative;
  display: flex;
  justify-content: center;
}

.footerContainer {
  max-width: 1296px;
  width: 100%;
  overflow: hidden;
  padding: 0 24px;
}

.socialMenuWrapper {
  padding: 40px 0;
}

.copyrightWrapper {
  border-top: 1px solid $divider;
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}
