@use 'styles/variables' as *;

.margin-extra {
  background-color: pink !important;
}

.footer {
  margin-top: 128px;
  border-top: 1px solid $divider;
  position: relative;
  display: flex;
  justify-content: center;
  z-index: 10;
  flex-wrap: nowrap;
}

.footer-title {
  width: 88px;
  height: 20px;
  font-weight: 600 !important;
}

.footer-text {
  color: #6880a3 !important;
  height: 17px !important;
}

.footerContainer {
  max-width: 1296px;
  width: 100%;
  overflow: hidden;
  padding: 0 24px;
}

.socialMenuWrapper {
  padding: 40px 0;
  backdrop-filter: blur(24px);

  & .email_input {
    position: relative;
    z-index: 10;

    & .bg_shine {
      position: absolute;
      z-index: 5;
      top: 50%;
      left: 0%;
      transform: translateX(-30%) translateY(-50%) !important;
      width: 880px;
      height: 636px;
      background-size: cover;
      display: none;
      opacity: 0.6;

      @media (max-width: 960px) {
        display: block;
      }
    }
  }
}

.copyrightWrapper {
  border-top: 1px solid $divider;
  display: flex;
  padding: 16px 0;
  justify-content: space-between;
  align-items: center;
}

.copyright-mobile {
  justify-content: space-between;
  margin-bottom: 64px;
  // border-bottom: 1px solid $divider;
  flex-direction: column;
  align-items: flex-start;
  border-top: 0px;

  & .divider-mobile {
    margin: 16px 0;
    border: 1px solid #192338;
    width: 100%;
  }
}

.fake-community-container {
  min-width: 680px;
  background-color: transparent;
}

a.footer-link {
  color: $textSecondary;
  text-decoration: none;
}

.text-grey {
  color: #cedaeb;
}

.newsletterInput {
  display: flex;
  justify-content: space-between;
  width: 272px;
  height: 40px;
  margin-top: 20px;
  padding: 3px 0 4px 16px;
  border-radius: 8px;
  background: rgba(32, 37, 53, 0.65);
  backdrop-filter: blur(15.5px);
  -webkit-backdrop-filter: blur(15.5px);
  border-radius: 10px;

  & button {
    background: transparent;

    & span {
      font-size: 11px;
    }
  }

  input {
    background-color: transparent;
    border: none;
    color: white;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    color: #ccd8e7;
    font-size: 14px;
    font-weight: 500;
  }
}

@media (max-width: 420px) {
  .socialMenuWrapper {
    gap: 20px
  }
}