@use 'styles/variables' as *;

.poolButtonRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  & .MuiButton-root {
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border-radius: 10px;
    & a {
      text-decoration: none;
    }
    & p {
      color: $textPrimary;
    }
  }
  & .MuiButton-outlined {
    width: 49%;
    background: transparent;
    border: 1px solid #404557;
  }
  & .MuiButton-contained {
    width: 24%;
    border: 1px solid transparent;
    background-image: linear-gradient(286deg, $blue1, $blue);
    background-color: transparent;
  }
}
.cardRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  & p {
    color: $textPrimary
  }
}