@use 'styles/variables' as *;

.searchWidgetInput {
  display: flex;
  align-items: center;
  padding: 0 16px;
  background: $grey3;
  height: 46px;
  border-radius: 10px;
  margin: 12px 0;
  & input {
    background: transparent;
    border: none;
    outline: none;
    font-size: 15px;
    font-weight: 500;
    min-width: 240px;
    color: $textPrimary
  }
}
.searchWidgetContent {
  position: absolute;
  width: 100%;
  background: $grey3;
  border-radius: 10px;
  padding: 12px;
  z-index: 2;
  height: 300px;
  overflow-y: auto;
}