@use "styles/variables" as *;
@use "styles/breakpoints" as *;

.exchangeSwap {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: -11px auto;
  z-index: 2;
  position: relative;
  // border: 2px solid #141827;
}

.infoWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 1px solid #3a4769;
  border-radius: 12px;
  padding: 16px;
  margin-top: 16px;
}

.box-success {
  background-color: #0fc679;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  padding: 6px 11px 7px;
  text-align: right;
}

.box-error {
  background-color: #ea5f5a;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  padding: 6px 11px 7px;
  text-align: right;
}

.swapPrice {
  display: flex;
  justify-content: space-between;
  background: $grey9;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  & small {
    display: flex;
    align-items: center;
    color: $grey19;
    & svg {
      margin-left: 8px;
      width: 16px;
      height: 16px;
      cursor: pointer;
      & path {
        fill: $primary;
      }
    }
  }
}

.swapButtonWrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  width: 100%;
  & button {
    border-radius: 10px;
    height: 56px;
    font-size: 18px;
    font-weight: 600;
    background-image: linear-gradient(to bottom, $primary, $blue1);
    &.Mui-disabled {
      background-image: linear-gradient(to bottom, $secondary1, $grey10);
      color: $textSecondary;
      opacity: 0.5;
    }
    & .content {
      display: flex;
      align-items: center;
      & > div {
        color: white;
        margin-left: 6px;
      }
    }
  }
}

.recipientInput {
  width: 100%;
  & .recipientInputHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 8px 12px;
    & button {
      background: transparent;
    }
  }
}

.summaryRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  // margin: 8px 16px 0;
 
  & .swapSlippage {
    cursor: pointer;
    & small {
      color: $grey19;
    }
    & svg {
      margin-left: 8px;
    }
  }
  & > div {
    display: flex;
    align-items: center;
    & > div {
      margin-left: 4px;
    }
  }
}

.swapRoute {
  margin: 8px 0;
  & .header {
    display: flex;
    align-items: center;
    & p {
      font-size: 16px;
      line-height: 28px;
      margin-right: 4px;
    }
  }
}
