@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.customTabWrapper {
  display: flex;
  align-items: center;
}

.customTabSeparator {
  width: 1px;
  background-color: $textSecondary;
}

.customTab {
  padding: 0 16px;
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  & small {
    color: $textSecondary;
  }
  @include media("screen", "<tablet") {
    padding: 0 8px;
  }
  @include media("screen", "<phone") {
    & small {
      font-size: 12px;
    }
  }
}

.selectedCustomTab {
  background-color: $grey32;
  border-radius: 8px;
  & small {
    color: $black1;
  }
}
