@use 'styles/variables' as *;

.customTab {
  min-width: 160px;
  padding: 6px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: $textSecondary;
  cursor: pointer;
  &.selectedTab {
    border-bottom: 2px solid $primary;
    color: $primary;
  }
  & span {
    font-family: Inter;
    font-size: 16px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 4.75;
    letter-spacing: normal;
    text-transform: none;
  }
}

.customTabWrapper {
  display: flex;
}
