@use 'styles/variables' as *;

.truncatedText {
  text-overflow: ellipsis;
  max-width: 220px;
  overflow: hidden;
  text-align: right;
}

.swapModalHeaderArrowWrapper {
  padding: 4px;
  border-radius: 12px;
  height: 32px;
  width: 32px;
  position: relative;
  margin-top: -18px;
  margin-bottom: -18px;
  left: calc(50% - 16px);
  display: flex;
  justify-content: center;
  align-items: center;
  background: $secondary;
  z-index: 2;
}