@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.customTabWrapper {
  display: flex;
  align-items: center;
  & .MuiTabs-root {
    & .MuiTabs-scroller {
      overflow-x: auto !important;
      & .MuiTabs-flexContainer {
        display: inline;
      }
    }
    & button {
      min-width: unset;
      max-width: none;
      padding: 6px 0;
      margin: 0 12px;
      &.Mui-selected {
        span {
          color: $textPrimary;
        }
      }
      & span {
        font-size: 14px;
        color: $textSecondary;
        text-transform: none;
      }
    }
    & .MuiTabs-indicator {
      background-color: $textPrimary;
    }
  }
}
