@use 'styles/variables' as *;
@use 'styles/breakpoints' as *;

.tokenApproveButton {
  background-color: $primary;
  cursor: pointer;
  border: none;
  width: 100%;
  height: 48px;
  border-radius: 16px;
  & p {
    color: $grey32;
    font-weight: 600;
  }
}

.tokenApproveButtonLoading {
  background-color: $primary;
  width: 100%;
  height: 48px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: $grey32;
  opacity: 0.5;
  & p {
    font-weight: 600;
    margin-left: 4px;
  }
}