@use "styles/variables" as *;
@use "styles/fonts" as *;
@use "styles/colors" as *;
@use "styles/breakpoints" as *;
@use "styles/mui-overrides" as *;

:root {
  --orderly-color-primary: 182 79 255;
  --orderly-color-primary-light: 208 140 255;
  --orderly-color-primary-darken: 152 62 214;
  --orderly-color-primary-contrast: 255 255 255;
  --orderly-color-link: 182 79 255;
  --orderly-color-secondary: 255 255 255;
  --orderly-color-tertiary: 218 218 218;
  --orderly-color-quaternary: 218 218 218;
  --orderly-color-danger: 232 88 175;
  --orderly-color-danger-light: 255 103 191;
  --orderly-color-danger-darken: 199 68 146;
  --orderly-color-danger-contrast: 255 255 255;
  --orderly-color-success: 3 152 134;
  --orderly-color-success-light: 0 181 159;
  --orderly-color-success-darken: 0 119 105;
  --orderly-color-success-contrast: 255 255 255;
  --orderly-color-warning: 255 207 115;
  --orderly-color-warning-light: 255 207 115;
  --orderly-color-warning-darken: 117 88 33;
  --orderly-color-warning-contrast: 255 255 255;
  --orderly-color-fill: 36 32 47;
  --orderly-color-fill-active: 40 46 58;
  --orderly-color-base-100: 93 83 123;
  --orderly-color-base-200: 81 72 107;
  --orderly-color-base-300: 68 61 89;
  --orderly-color-base-400: 57 52 74;
  --orderly-color-base-500: 51 46 66;
  --orderly-color-base-600: 43 38 56;
  --orderly-color-base-700: 36 32 47;
  --orderly-color-base-800: 29 26 38;
  --orderly-color-base-900: 22 20 28;
  --orderly-color-base-foreground: 255 255 255;
  --orderly-color-trading-loss: 255 103 194;
  --orderly-color-trading-loss-contrast: 255 103 194;
  --orderly-color-trading-profit: 0 181 159;
  --orderly-color-trading-profit-contrast: 0 181 159;
  --orderly-rounded: 6px;
  --orderly-rounded-sm: 4px;
  --orderly-rounded-lg: 8px;
  --orderly-rounded-full: 9999px;
  --orderly-button-shadow: none;
  --orderly-font-size-4xs: 11px;
  --orderly-font-size-3xs: 12px;
  --orderly-font-size-2xs: 13px;
  --orderly-font-size-xs: 14px;
  --orderly-font-size-sm: 15px;
  --orderly-font-size-base: 16px;
  --orderly-font-size-lg: 18px;
  --orderly-font-size-xl: 20px;
  --orderly-font-size-2xl: 24px;
  --orderly-font-size-3xl: 30px;
  --orderly-font-size-4xl: 36px;
  --orderly-color-divider: 42 46 52;
  --orderly-font-family: 'Manrope', sans-serif;
}

body {
  margin: 0;

  iframe[style*='z-index: 2147483647'] {
    display: none !important;
  }
}

wcm-modal {
  z-index: 10000;
  position: relative;
}

.loadingDots {
  &::after {
    display: inline-block;
    animation: ellipsis 1.25s infinite;
    content: '.';
    width: 1em;
    text-align: left;
  }

  @keyframes ellipsis {
    0% {
      content: '.';
    }
    33% {
      content: '..';
    }
    66% {
      content: '...';
    }
  }
}

@keyframes spinnerAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.spinner {
  display: flex;
  animation: spinnerAnimation 1s infinite linear;
}

[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10 !important;
}

[data-reach-dialog-content] {
  @include media('screen', '<tablet') {
    transform: translateY(-90px) !important;
    max-height: calc(100vh - 120px) !important;
    min-height: calc(100vh - 120px) !important;
    border-radius: 20px !important;
  }
}

.wrapper {
  padding: 24px;
  // background: $bgPalette;
  border-radius: 20px;
  @include media('screen', '<phone') {
    padding: 16px 12px;
  }
}

.cardRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
  & > div {
    display: flex;
    align-items: center;
    & > small {
      margin-right: 10px;
    }
  }
}

.buttonGroup {
  text-align: center;
  padding: 20px 0;
  max-width: 1048px;
  margin: auto;
  width: 100%;
  & > div {
    width: 100%;
  }
  & .MuiButtonGroup-root {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 50px;
    & button {
      max-width: 180px;
      width: 50%;
      height: 48px;
      display: flex;
      justify-content: center;
      align-items: center;
      background: transparent;
      border: 1px solid $primaryDark;
      color: $textSecondary;
      &.active {
        background: $grey7;
        border: 1px solid transparent;
        color: $bgColor;
      }
      &:first-child {
        border-top-left-radius: 24px;
        border-bottom-left-radius: 24px;
      }
      &:last-child {
        border-top-right-radius: 24px;
        border-bottom-right-radius: 24px;
      }
    }
  }
  @include media('screen', '<phone') {
    & .MuiGrid-item {
      width: 100%;
      margin-bottom: 32px;
      text-align: center;
    }
  }
}

.page {
  background-color: #141827;
  width: 100%;
  min-height: 100vh;
}

.pageWrapper {
  max-width: 1344px;
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 152px 0;
  @include media('screen', '<tablet') {
    padding: 190px 12px 0;
  }
}

.pageProModeWrapper {
  padding-top: 128px;
  @include media('screen', '<tablet') {
    padding-top: 0;
  }
}

.pageWrapper-no-max {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px auto;
  padding: 128px 32px 0;
  @include media('screen', '<tablet') {
    padding: 172px 12px 0;
  }
}

.pageWrapper-no-max-no-news {
  @include media('screen', '<tablet') {
    padding-top: 64px !important;
  }
}

.pageWrapper-proMode {
  padding: 128px 0 0;
  @include media('screen', '<tablet') {
    padding: 190px 0 0;
  }
}

.pageHeading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.heroBkg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  &.isNewBg {
    min-height: 100%;
  }
  & img {
    width: 100%;
    min-width: 1200px;
    @media screen and (max-width: '600px') {
      min-width: 600px;
    }
  }
}

.hidden {
  display: none;
}

.helpWrapper {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid $secondary2;
  border-radius: 10px;
  cursor: pointer;
  & p {
    color: $textHint;
  }

  & svg {
    margin-left: 8px;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.no-outline {
  outline: none;
}

.no-decoration {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fullWidth {
  width: 100%;
}

.opacity-disabled {
  opacity: 0.6;
}

.text-uppercase {
  text-transform: uppercase;
}

.devPassModal {
  padding: 12px;
  & input {
    width: 100%;
    margin: 8px 0;
    outline: none;
    padding: 6px 4px;
  }
}

.token-select-background {
  display: flex;
  justify-content: space-around;
  width: 176px;
  height: 44px;
  margin: 0 16px 0 0;
  padding: 10px 12px 10px 10px;
  border-radius: 22px;
  background-color: #282d3d;
  & p {
    margin-left: 4px;
  }
}

.rounded {
  border-radius: 4rem !important;
}

.btn-xl {
  height: 48px !important;
  border-radius: 10px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  cursor: pointer;
}

.mr-1 {
  margin-right: 1rem !important;
}

.btn-exit {
  background-color: #1e2f50 !important;
  color: #448aff !important;
  fill: #448aff !important;
}

.btn-exit:hover {
  opacity: 85%;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.text-center {
  text-align: center;
}

.rounded-md {
  border-radius: 10px !important;
}

.v3-tokenId-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-image: linear-gradient(134deg, #cbb96e -2%, #b9d3ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
  & p {
    font-size: 8px;
  }
  & p,
  & span {
    color: $secondary1;
    font-weight: 600;
  }
}
.fullHeight {
  height: 100%;
}

.text-link {
  text-decoration: none;
}

.text-link:hover {
  opacity: 0.9;
}

.text-lg {
  font-size: 1rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 2rem;
}

.bl-1 {
  border-left: 1px solid #242938;
}

.pl-1 {
  padding-left: 1rem;
}

.p-1 {
  padding: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.my-auto {
  margin-bottom: auto;
  margin-top: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.staticNewsletterSignUpPanel {
  position: fixed;
  padding: 16px;
  width: 300px;
  border-radius: 21px;
  border: 1px solid $divider;
  right: 24px;
  top: 140px;
  z-index: 9;
  text-align: center;
  backdrop-filter: blur(3px);
  background-color: $bgPalette1;
  z-index: 12;
  & p {
    color: $textSecondary;
    font-size: 13px;
    font-weight: 600;
    line-height: 18px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
  }
  & h4 {
    font-size: 23px;
    line-height: 23px;
    margin: 8px 0;
  }
  & small {
    color: $grey35;
    line-height: 14px;
  }
  & input {
    width: 100%;
    margin: 8px 0;
    background-color: $bgColor;
    border: 1px solid $grey34;
    box-shadow: none;
    height: 43px;
    border-radius: 11px;
    padding: 0 8px;
    outline: none;
    color: white;
  }
  & button {
    width: 100%;
    border-radius: 10px;
    background: linear-gradient(0deg, $blue11 0.6%, $purple6 100.1%);
    box-shadow: 0 0 7px 0 $purple7;
    height: 33px;
    & span {
      font-size: 12.11px;
      font-weight: 600;
    }
  }
  & .newsletterSignupClose {
    position: absolute;
    top: 12px;
    right: 12px;
    color: $textSecondary;
  }
  & span {
    font-size: 13px;
    line-height: 14px;
  }
  @include media('screen', '<tablet') {
    top: 180px;
  }
}

#tosPage ol {
  padding-left: 16px;
  li {
    margin-bottom: 16px;
  }
}
