h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6,
p,
.p,
small,
.small,
caption,
.caption,
span,
.span {
  margin: 0;
}

h1,
.h1 {
  font-size: 60px;
  line-height: 0.93;
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  h1,
  .h1 {
    font-size: 30px;
    line-height: 1.1;
  }
}

h2,
.h2 {
  font-size: 40px;
  line-height: 1.2;
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  h2,
  .h2 {
    font-size: 26px;
  }
}

h3,
.h3 {
  font-size: 30px;
  line-height: 1.33;
  font-weight: bold;
}
@media screen and (max-width: 599px) {
  h3,
  .h3 {
    font-size: 24px;
  }
}

h4,
.h4 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}

h5,
.h5 {
  font-size: 20px;
  line-height: 1.5;
  font-weight: bold;
}

h6,
.h6 {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}

p,
.p {
  font-size: 16px;
  line-height: 1.5;
}

small,
.small {
  font-size: 14px;
  line-height: 1.57;
}

caption,
.caption {
  font-size: 13px;
  line-height: 1.69;
}

span,
.span {
  font-size: 12px;
  line-height: 1.33;
}

.text-right {
  text-align: right;
}

.text-center {
  text-align: center;
}

.text-bold {
  font-weight: bold;
}

.weight-600 {
  font-weight: 600;
}

.weight-500 {
  font-weight: 500;
}

.no-decoration {
  text-decoration: none;
}

.text-underline {
  text-decoration: underline;
}

.line-height-1 {
  line-height: 1;
}

.bg-white {
  background-color: white;
}

.bg-default {
  background-color: #12131a;
}

.bg-palette {
  background-color: #1b1e29;
}

.bg-secondary1 {
  background-color: #252833;
}

.bg-secondary2 {
  background-color: #232734;
}

.bg-secondary3 {
  background-color: #2c3242;
}

.bg-input1 {
  background-image: linear-gradient(to bottom, #141827, #141827);
  mix-blend-mode: screen;
  background-blend-mode: screen;
}

.subtext-color {
  color: #fff;
  opacity: 0.48;
}

.bg-secondary4 {
  background-color: #1f263d;
}

.bg-yellow3 {
  background-color: #ffa000;
}

.bg-blue1 {
  background-color: #004ce6;
}

.bg-gray1 {
  background-color: rgba(99, 103, 128, 0.1);
}

.bg-gray2 {
  background-color: #3e4252;
}

.bg-gray3 {
  background-color: #1b1d26;
}

.bg-gray30 {
  background-color: rgba(105, 108, 128, 0.3);
}

.bg-gray31 {
  background-color: rgba(40, 45, 61, 0.5);
}

.bg-transparent {
  background-color: transparent;
}

.bg-primary {
  background-color: #448aff;
}

.bg-primaryLight {
  background-color: rgba(68, 138, 255, 0.3);
}

.bg-success {
  background-color: #0fc679;
}

.bg-successLight {
  background-color: rgba(15, 198, 121, 0.3);
}

.bg-error {
  background-color: #ff5252;
}

.bg-errorLight {
  background-color: rgba(255, 82, 82, 0.1);
}

.bg-grey29 {
  background-color: #282d3e;
}

.bg-black1 {
  background-color: #1b1e29;
}

.bg-textSecondary {
  background-color: #6880a3;
}

.border {
  border: 1px solid rgba(130, 177, 255, 0.08);
}

.border-left {
  border-left: 1px solid rgba(130, 177, 255, 0.08);
}

.border-right {
  border-right: 1px solid rgba(130, 177, 255, 0.08);
}

.border-top {
  border-top: 1px solid rgba(130, 177, 255, 0.08);
}

.border-bottom {
  border-bottom: 1px solid rgba(130, 177, 255, 0.08);
}

.border-secondary1 {
  border: 1px solid #252833;
}

.border-top-secondary1 {
  border-top: 1px solid #252833;
}

.border-bottom-secondary1 {
  border-bottom: 1px solid #252833;
}

.border-right-secondary1 {
  border-right: 1px solid #252833;
}

.border-secondary2 {
  border: 1px solid #232734;
}

.border-gray14 {
  border: 1px solid rgba(105, 108, 128, 0.12);
}

.border-gray2 {
  border: 1px solid #3e4252;
}

.border-error {
  border: 1px solid #ff5252;
}

.border-primary {
  border: 1px solid #448aff;
}

.border-primaryDark {
  border: 1px solid #1c2938;
}

.border-yellow5 {
  border: 1px solid #fdd835;
}

.border-error {
  border: 1px solid #ff5252;
}

.text-error {
  color: #ff5252;
}

.text-blueviolet {
  color: blueviolet;
}

.text-success {
  color: #0fc679;
}

.text-primary {
  color: #448aff;
}

.text-primaryText {
  color: #c7cad9;
}

.text-secondary {
  color: #6880a3;
}

.text-hint {
  color: #636780;
}

.text-disabled {
  color: #626680;
}

.text-gray19 {
  color: #b6b9cc;
}

.text-gray22 {
  color: rgba(255, 255, 255, 0.47);
}

.text-gray25 {
  color: rgb(199, 202, 217);
}

.text-gray29 {
  color: #282d3e;
}

.text-yellow {
  color: #e59840;
}

.text-yellow3 {
  color: #ffa000;
}

.text-blue7 {
  color: rgba(68, 138, 255, 0.5);
}

.text-bgColor {
  color: #12131a;
}

.text-gray32 {
  color: #ebecf2;
}

.text-white {
  color: white;
}

.bg-blue12 {
  background-color: #b0dcfc;
}

.bg-green4 {
  background-color: #7addcb;
}

.bg-purple8 {
  background-color: #beaffd;
}

.bg-gray32 {
  background-color: #ebecf2;
}

.bg-gray38 {
  background-color: rgba(255, 255, 255, 0.08);
}

html .MuiTooltip-arrow {
  font-size: 16px;
  width: 17px;
}
html .MuiTooltip-arrow::before {
  color: #252833;
  border: 1px solid rgba(130, 177, 255, 0.08);
  box-sizing: border-box;
}
html .MuiTooltip-tooltip {
  background-color: #252833;
  border: 1px solid rgba(130, 177, 255, 0.08);
  padding: 0;
  font-size: 14px;
  border-radius: 14px;
  color: #c7cad9;
}

:root {
  --orderly-color-primary: 182 79 255;
  --orderly-color-primary-light: 208 140 255;
  --orderly-color-primary-darken: 152 62 214;
  --orderly-color-primary-contrast: 255 255 255;
  --orderly-color-link: 182 79 255;
  --orderly-color-secondary: 255 255 255;
  --orderly-color-tertiary: 218 218 218;
  --orderly-color-quaternary: 218 218 218;
  --orderly-color-danger: 232 88 175;
  --orderly-color-danger-light: 255 103 191;
  --orderly-color-danger-darken: 199 68 146;
  --orderly-color-danger-contrast: 255 255 255;
  --orderly-color-success: 3 152 134;
  --orderly-color-success-light: 0 181 159;
  --orderly-color-success-darken: 0 119 105;
  --orderly-color-success-contrast: 255 255 255;
  --orderly-color-warning: 255 207 115;
  --orderly-color-warning-light: 255 207 115;
  --orderly-color-warning-darken: 117 88 33;
  --orderly-color-warning-contrast: 255 255 255;
  --orderly-color-fill: 36 32 47;
  --orderly-color-fill-active: 40 46 58;
  --orderly-color-base-100: 93 83 123;
  --orderly-color-base-200: 81 72 107;
  --orderly-color-base-300: 68 61 89;
  --orderly-color-base-400: 57 52 74;
  --orderly-color-base-500: 51 46 66;
  --orderly-color-base-600: 43 38 56;
  --orderly-color-base-700: 36 32 47;
  --orderly-color-base-800: 29 26 38;
  --orderly-color-base-900: 22 20 28;
  --orderly-color-base-foreground: 255 255 255;
  --orderly-color-trading-loss: 255 103 194;
  --orderly-color-trading-loss-contrast: 255 103 194;
  --orderly-color-trading-profit: 0 181 159;
  --orderly-color-trading-profit-contrast: 0 181 159;
  --orderly-rounded: 6px;
  --orderly-rounded-sm: 4px;
  --orderly-rounded-lg: 8px;
  --orderly-rounded-full: 9999px;
  --orderly-button-shadow: none;
  --orderly-font-size-4xs: 11px;
  --orderly-font-size-3xs: 12px;
  --orderly-font-size-2xs: 13px;
  --orderly-font-size-xs: 14px;
  --orderly-font-size-sm: 15px;
  --orderly-font-size-base: 16px;
  --orderly-font-size-lg: 18px;
  --orderly-font-size-xl: 20px;
  --orderly-font-size-2xl: 24px;
  --orderly-font-size-3xl: 30px;
  --orderly-font-size-4xl: 36px;
  --orderly-color-divider: 42 46 52;
  --orderly-font-family: "Manrope", sans-serif;
}

body {
  margin: 0;
}
body iframe[style*="z-index: 2147483647"] {
  display: none !important;
}

wcm-modal {
  z-index: 10000;
  position: relative;
}

.loadingDots::after {
  display: inline-block;
  animation: ellipsis 1.25s infinite;
  content: ".";
  width: 1em;
  text-align: left;
}
@keyframes ellipsis {
  0% {
    content: ".";
  }
  33% {
    content: "..";
  }
  66% {
    content: "...";
  }
}

@keyframes spinnerAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.spinner {
  display: flex;
  animation: spinnerAnimation 1s infinite linear;
}

[data-reach-dialog-overlay] {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10 !important;
}

@media screen and (max-width: 959px) {
  [data-reach-dialog-content] {
    transform: translateY(-90px) !important;
    max-height: calc(100vh - 120px) !important;
    min-height: calc(100vh - 120px) !important;
    border-radius: 20px !important;
  }
}

.wrapper {
  padding: 24px;
  border-radius: 20px;
}
@media screen and (max-width: 599px) {
  .wrapper {
    padding: 16px 12px;
  }
}

.cardRow {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 12px;
}
.cardRow > div {
  display: flex;
  align-items: center;
}
.cardRow > div > small {
  margin-right: 10px;
}

.buttonGroup {
  text-align: center;
  padding: 20px 0;
  max-width: 1048px;
  margin: auto;
  width: 100%;
}
.buttonGroup > div {
  width: 100%;
}
.buttonGroup .MuiButtonGroup-root {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 50px;
}
.buttonGroup .MuiButtonGroup-root button {
  max-width: 180px;
  width: 50%;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: 1px solid #1c2938;
  color: #6880a3;
}
.buttonGroup .MuiButtonGroup-root button.active {
  background: rgba(255, 255, 255, 0.87);
  border: 1px solid transparent;
  color: #12131a;
}
.buttonGroup .MuiButtonGroup-root button:first-child {
  border-top-left-radius: 24px;
  border-bottom-left-radius: 24px;
}
.buttonGroup .MuiButtonGroup-root button:last-child {
  border-top-right-radius: 24px;
  border-bottom-right-radius: 24px;
}
@media screen and (max-width: 599px) {
  .buttonGroup .MuiGrid-item {
    width: 100%;
    margin-bottom: 32px;
    text-align: center;
  }
}

.page {
  background-color: #141827;
  width: 100%;
  min-height: 100vh;
}

.pageWrapper {
  max-width: 1344px;
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 152px 0;
}
@media screen and (max-width: 959px) {
  .pageWrapper {
    padding: 190px 12px 0;
  }
}

.pageProModeWrapper {
  padding-top: 128px;
}
@media screen and (max-width: 959px) {
  .pageProModeWrapper {
    padding-top: 0;
  }
}

.pageWrapper-no-max {
  position: relative;
  z-index: 11;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 24px auto;
  padding: 128px 32px 0;
}
@media screen and (max-width: 959px) {
  .pageWrapper-no-max {
    padding: 172px 12px 0;
  }
}

@media screen and (max-width: 959px) {
  .pageWrapper-no-max-no-news {
    padding-top: 64px !important;
  }
}

.pageWrapper-proMode {
  padding: 128px 0 0;
}
@media screen and (max-width: 959px) {
  .pageWrapper-proMode {
    padding: 190px 0 0;
  }
}

.pageHeading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 16px;
}

.heroBkg {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  min-height: 250%;
  overflow: hidden;
}
.heroBkg.isSwap {
  min-height: 100%;
}
.heroBkg img {
  width: 100%;
  min-width: 1200px;
}
@media screen and (max-width: 600px) {
  .heroBkg img {
    min-width: 600px;
  }
}

.hidden {
  display: none;
}

.helpWrapper {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  border: 1px solid #232734;
  border-radius: 10px;
  cursor: pointer;
}
.helpWrapper p {
  color: #636780;
}
.helpWrapper svg {
  margin-left: 8px;
}

.cursor-pointer {
  cursor: pointer;
}

.no-outline {
  outline: none;
}

.no-decoration {
  text-decoration: none;
}

.flex {
  display: flex;
}

.flex-grow-1 {
  flex-grow: 1;
}

.flex-col {
  flex-direction: column;
}

.flex-col-reverse {
  flex-direction: column-reverse;
}

.items-start {
  align-items: flex-start;
}

.items-center {
  align-items: center;
}

.items-end {
  align-items: flex-end;
}

.justify-center {
  justify-content: center;
}

.justify-end {
  justify-content: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.justify-evenly {
  justify-content: space-evenly;
}

.justify-around {
  justify-content: space-around;
}

.flex-wrap {
  flex-wrap: wrap;
}

.fullWidth {
  width: 100%;
}

.opacity-disabled {
  opacity: 0.6;
}

.text-uppercase {
  text-transform: uppercase;
}

.devPassModal {
  padding: 12px;
}
.devPassModal input {
  width: 100%;
  margin: 8px 0;
  outline: none;
  padding: 6px 4px;
}

.token-select-background {
  display: flex;
  justify-content: space-around;
  width: 176px;
  height: 44px;
  margin: 0 16px 0 0;
  padding: 10px 12px 10px 10px;
  border-radius: 22px;
  background-color: #282d3d;
}
.token-select-background p {
  margin-left: 4px;
}

.rounded {
  border-radius: 4rem !important;
}

.btn-xl {
  height: 48px !important;
  border-radius: 10px !important;
  padding-left: 16px !important;
  padding-right: 16px !important;
  cursor: pointer;
}

.mr-1 {
  margin-right: 1rem !important;
}

.btn-exit {
  background-color: #1e2f50 !important;
  color: #448aff !important;
  fill: #448aff !important;
}

.btn-exit:hover {
  opacity: 85%;
}

.m-auto {
  margin: auto;
}

.mx-auto {
  margin-left: auto;
  margin-right: auto;
}

.mx-1 {
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

.mx-2 {
  margin-left: 1rem;
  margin-right: 1rem;
}

.text-center {
  text-align: center;
}

.rounded-md {
  border-radius: 10px !important;
}

.v3-tokenId-wrapper {
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-image: linear-gradient(134deg, #cbb96e -2%, #b9d3ff);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-right: 12px;
}
.v3-tokenId-wrapper p {
  font-size: 8px;
}
.v3-tokenId-wrapper p, .v3-tokenId-wrapper span {
  color: #252833;
  font-weight: 600;
}

.fullHeight {
  height: 100%;
}

.text-link {
  text-decoration: none;
}

.text-link:hover {
  opacity: 0.9;
}

.text-lg {
  font-size: 1rem;
}

.m-2 {
  margin: 0.5rem;
}

.m-3 {
  margin: 1rem;
}

.mt-1 {
  margin-top: 1rem;
}

.ml-1 {
  margin-left: 1rem;
}

.ml-2 {
  margin-left: 1.5rem;
}

.ml-3 {
  margin-left: 2rem;
}

.bl-1 {
  border-left: 1px solid #242938;
}

.pl-1 {
  padding-left: 1rem;
}

.p-1 {
  padding: 1rem;
}

.ml-auto {
  margin-left: auto;
}

.my-auto {
  margin-bottom: auto;
  margin-top: auto;
}

.w-100 {
  width: 100%;
}

.h-100 {
  height: 100%;
}

.staticNewsletterSignUpPanel {
  position: fixed;
  padding: 16px;
  width: 300px;
  border-radius: 21px;
  border: 1px solid rgba(130, 177, 255, 0.08);
  right: 24px;
  top: 140px;
  z-index: 9;
  text-align: center;
  -webkit-backdrop-filter: blur(3px);
          backdrop-filter: blur(3px);
  background-color: rgba(29, 30, 50, 0.9);
  z-index: 12;
}
.staticNewsletterSignUpPanel p {
  color: #6880a3;
  font-size: 13px;
  font-weight: 600;
  line-height: 18px;
  letter-spacing: 1.8px;
  text-transform: uppercase;
}
.staticNewsletterSignUpPanel h4 {
  font-size: 23px;
  line-height: 23px;
  margin: 8px 0;
}
.staticNewsletterSignUpPanel small {
  color: #afb2ba;
  line-height: 14px;
}
.staticNewsletterSignUpPanel input {
  width: 100%;
  margin: 8px 0;
  background-color: #12131a;
  border: 1px solid rgba(255, 255, 255, 0.2);
  box-shadow: none;
  height: 43px;
  border-radius: 11px;
  padding: 0 8px;
  outline: none;
  color: white;
}
.staticNewsletterSignUpPanel button {
  width: 100%;
  border-radius: 10px;
  background: linear-gradient(0deg, #2e4ec2 0.6%, #7732e7 100.1%);
  box-shadow: 0 0 7px 0 rgba(77, 74, 253, 0.57);
  height: 33px;
}
.staticNewsletterSignUpPanel button span {
  font-size: 12.11px;
  font-weight: 600;
}
.staticNewsletterSignUpPanel .newsletterSignupClose {
  position: absolute;
  top: 12px;
  right: 12px;
  color: #6880a3;
}
.staticNewsletterSignUpPanel span {
  font-size: 13px;
  line-height: 14px;
}
@media screen and (max-width: 959px) {
  .staticNewsletterSignUpPanel {
    top: 180px;
  }
}

#tosPage ol {
  padding-left: 16px;
}
#tosPage ol li {
  margin-bottom: 16px;
}/*# sourceMappingURL=index.css.map */