.shepherd-custom {
    padding: 0 1rem;
    
    
    /* background: linear-gradient(to right, lightgreen, cyan);
    position: relative;
    border: 20px solid transparent;
    border-radius: 40px;
    background-clip: padding-box;
    -webkit-background-clip: padding-box; */
}

/* .shepherd-custom::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 5px;

    border-radius: 20px;
    background: white;
} */

.shepherd-footer {
    justify-content: unset;
}

.shepherd-button:nth-child(2) {
    margin-left: auto;
    margin-right: 0;
}

.shepherd-expanded {
    min-width: 35rem;
}

.tour-tab {
    color: #0000005f;
    padding: 6px 22px;
    border-radius: 9.68px;
    border: 1.21px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 0px 12px 0px #B8BBFF;
    font-weight: 500;
}

.tour-selected-tab {
    color: black;
    font-weight: 500;
    padding: 6px 30px;
    font-size: 16px;
    border-radius: 9.68px;
    border: 1.21px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 14px 0px #B8BBFF;
    background: #FFF;
}
.token-box *{
    pointer-events: none;
}

div[data-shepherd-step-id="feedback"] .shepherd-footer {
    align-items: center;
    display: flex;
    flex-flow: column-reverse;
}
div[data-shepherd-step-id="feedback"] .shepherd-footer  .shepherd-button:nth-child(2){
    margin-left: 0;
}
ul.feedback-rating {
    list-style-type: none;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}
ul.feedback-rating li {
    margin:15px 8px;
    padding-bottom: 0;
    filter: grayscale(100%);
    cursor: pointer;
}
ul.feedback-rating li *{
    pointer-events: none;
}
ul.feedback-rating li:hover{
    filter: grayscale(30%);
}
ul.feedback-rating li.active{
    filter: grayscale(0%);
}  