.shepherd-custom {
    padding: 0 1rem;
    background: linear-gradient(228.09deg, #FF2CF7 -9.95%, rgba(251, 4, 123, 0.796875) 12.47%, rgba(255, 126, 188, 0.81) 30.87%, rgba(255, 255, 255, 0) 42.87%, rgba(73, 255, 233, 0.65) 70.34%, #130EFF 100.44%);
    position: relative;
    border: 0px solid transparent;
    border-radius: 40px;
    background-clip: padding-box;
    -webkit-background-clip: padding-box;
    box-shadow:none;
    max-width: 495px !important;
}

.shepherd-custom::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: -1;
    margin: 5px;
    border-radius: 38px;
    background: white;
}
.shepherd-element .shepherd-arrow {
    border-width: 0;
    height: auto;
    width: auto;
  }

  .shepherd-arrow::before {
    display: none;
  }

  .shepherd-element .shepherd-arrow:after {
    content: url('./assets/img/arrow.svg');
    display: inline-block;
  }

.shepherd-footer {
    justify-content: unset;
    padding: 0;
    margin-bottom: 15px;
}

.shepherd-element[data-popper-placement^='top'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-top .shepherd-arrow {
  bottom: -20px;
}

.shepherd-element[data-popper-placement^='top'] .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-top .shepherd-arrow:after {
  transform: rotate(270deg);
}

.shepherd-element[data-popper-placement^='bottom'] .shepherd-arrow {
  top: -20px;
}

.shepherd-element[data-popper-placement^='top'] {
    margin-bottom: 24px;
}

.shepherd-element[data-popper-placement^='bottom'] {
    margin-top: 24px;
}

.shepherd-element[data-popper-placement^='right'] {
    margin-left: -24px;
}

.shepherd-element[data-popper-placement^='left'] {
    margin-left: -24px;
}

.shepherd-element[data-popper-placement^='bottom'] .shepherd-arrow:after {
  transform: rotate(90deg);
}

.shepherd-element[data-popper-placement^='left'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-left .shepherd-arrow {
  right: -16px;
}

.shepherd-element[data-popper-placement^='left'] .shepherd-arrow:after,
.shepherd-element.shepherd-pinned-left .shepherd-arrow:after {
  transform: rotate(180deg);
}

.shepherd-element[data-popper-placement^='right'] .shepherd-arrow,
.shepherd-element.shepherd-pinned-right .shepherd-arrow {
  left: -16px;
}

.shepherd-button:nth-child(2) {
    margin-left: auto;
    margin-right: 0;
}

.shepherd-expanded {
    min-width: 35rem;
}

.tour-tab {
    color: #0000005f;
    padding: 6px 22px;
    border-radius: 9.68px;
    border: 1.21px solid rgba(0, 0, 0, 0.10);
    background: #FFF;
    box-shadow: 0px 0px 12px 0px #B8BBFF;
    font-weight: 500;
}

.tour-selected-tab {
    color: black;
    font-weight: 500;
    padding: 6px 30px;
    font-size: 16px;
    border-radius: 9.68px;
    border: 1.21px solid rgba(0, 0, 0, 0.10);
    box-shadow: 0px 0px 14px 0px #B8BBFF;
    background: #FFF;
}
.token-box *{
    pointer-events: none;
}

div[data-shepherd-step-id="feedback"] .shepherd-footer {
    align-items: center;
    display: flex;
    flex-flow: column-reverse;
}
div[data-shepherd-step-id="feedback"] .shepherd-footer  .shepherd-button:nth-child(2){
    margin-left: 0;
}
ul.feedback-rating {
    list-style-type: none;
    display: flex;
    flex-flow: nowrap;
    justify-content: center;
    padding-left: 0;
    margin: 0;
}
ul.feedback-rating li {
    margin:15px 8px;
    padding-bottom: 0;
    filter: grayscale(100%);
    cursor: pointer;
}
ul.feedback-rating li *{
    pointer-events: none;
}
ul.feedback-rating li:hover{
    filter: grayscale(30%);
}
ul.feedback-rating li.active{
    filter: grayscale(0%);
}
.shepherd-button {
    padding-left: 10px;
    padding-right: 10px;

}
.skip {
    color: black;
    font-size: 16px;
    font-family: 'Space Grotesk';
    font-weight: 500;
    word-wrap: break-word;
    line-height: 20px;
}
.back{
    color: black;
    font-size: 16px;
    font-family: 'Space Grotesk';
    font-weight: 500;
    word-wrap: break-word;
    line-height: 20px;
    padding-left: 5px;
}
.s-next{
    width: 100%;
    height: 100%;
    padding:12px 35px ;
    background: white;
    box-shadow: 0px 0px 20px rgba(255, 0, 255, 0.20);
    border-radius: 8px;

    border: 1px rgba(0, 0, 0, 0.10) solid;

    justify-content: center;
    align-items: center;
    display: inline-flex;
    color: black;
    font-size: 16px;
    font-family: 'Space Grotesk';
    font-weight: 500;
    word-wrap: break-word;

}
.s-title {
    color: #061341;
    font-size: 28px;
    line-height: 36px;
    font-family: 'Space Grotesk';
    font-weight: 600;
    word-wrap: break-word;
    margin-bottom: 10px;
}
.s-subTitle {
    width: 100%; color: #061341; font-size: 20px; font-family: 'Space Grotesk'; font-weight: 700; line-height: 30px; word-wrap: break-word;
}
.s-description {
    margin-top: 1rem;
    width: 100%;
    color: #213062;
    font-size: 16px;
    font-family: 'Space Grotesk';
    font-weight: 400;
    line-height: 24px;
    word-wrap: break-word
}